<!DOCTYPE html>
<html>
  <head>
    <title>LIVE CHAT | Shine Chat Prototype</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:url" content="http://www.shinetext.com" />
    <meta property="og:title" content="Shine" />
    <meta property="og:description" content="Shine sends you daily text messages with motivational quotes, positive affirmations and actions you can take every morning." />
    <meta property="og:site_name" content="Shine" />
    <meta property="og:image" content="http://www.shinetext.com/images/shine-logo.png" />

    <link href='https://fonts.googleapis.com/css?family=Caveat+Brush' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>

  <body class="subpage">
    <%- partial ('../partials/navbar.ejs') %>

    <div class="container">
        <div class="row">
            <p>Testing Live Chat</p>
        </div>
    </div>
    <%- partial ('../partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!--SCRIPTS-->
    <script src="/js/ejs.min.js"></script>
    <script src="/js/homepage.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/referrals.js"></script>
    <script src="/js/signup-form.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
