<footer>
  <div class="footer-cta">
    <div class="cta-copy">Get Shine now for daily affirmations on your phone!</div>
    <% if (typeof view !== 'undefined' && view === 'homepage') { %>
    <a href="#" onclick="window.scrollTo(0,0);"><div class="signup-button">Sign Up</div></a>
    <% } else  { %>
    <a href="/"><div class="signup-button">Sign Up</div></a>
    <% } %>
  </div>
  <div class="social-and-footer-nav">
    <div class="-social-icons">
      <a class="-icon-facebook" href="https://www.facebook.com/Shine-Text" target="_blank"></a>
      <a class="-icon-instagram" href="https://instagram.com/ShineText" target="_blank"></a>
      <a class="-icon-twitter" href="https://twitter.com/ShineText" target="_blank"></a>
    </div>
    <div class="page-links">
      <a href="advice">Get Advice</a>
      <a href="referrals">Invite Friends</a>
      <a href="squad">The Squad</a>
      <a href="faq">FAQ</a>
      <a href="privacy-policy">Privacy Policy</a>
      <a href="terms-of-service">Terms of Service</a>
    </div>
  </div>
</footer>