<footer class="container-fluid">
  <div class="row">
    <div class="col-xs-12 subpages-container">
      <a href="/referrals">
        Referrals
      </a>
      <a href="/squad">
        Squad
      </a>
      <a href="/faq">
        FAQ
      </a>
      <a href="https://medium.com/@ShineText" target="_blank">
        Blog
      </a>
      <a href="/jobs">
        Jobs
      </a>
      <a href="/privacy-policy">
        Privacy Policy
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 social-icons">
      <a href="https://www.facebook.com/Shine-Text" target="_blank">
        <img src="/images/social/facebook_yellow.png">
      </a>
      <a href="https://instagram.com/ShineText" target="_blank">
        <img src="/images/social/instagram_yellow.png">
      </a>
      <a href="https://twitter.com/ShineText" target="_blank">
        <img src="/images/social/twitter_yellow.png">
      </a>
    </div>
  </div>
</footer>