<footer>
  <% if (typeof hideFooterCta === 'undefined' || ! hideFooterCta) { %>
  <div class="footer-cta">
    <div class="cta-copy">
      What's Your Self-Care Style?
    </div>
    <a
      href="https://premium.shinetext.com/quiz/start?utm_source=Shine&utm_medium=WebMain&utm_campaign=Join_Bar"
    >
      <div class="cta-button">Take the Quiz</div>
    </a>
  </div>
  <% } %>
  <div class="social-and-footer-nav">
    <div class="-social-icons">
      <a
        class="-icon-facebook"
        href="https://www.facebook.com/Shine-Text"
        target="_blank"
      ></a>
      <a
        class="-icon-instagram"
        href="https://instagram.com/ShineText"
        target="_blank"
      ></a>
      <a
        class="-icon-twitter"
        href="https://twitter.com/ShineText"
        target="_blank"
      ></a>
      <a
        class="-icon-pinterest"
        href="https://www.pinterest.com/ShineText"
        target="_blank"
      ></a>
    </div>
    <div class="page-links">
      <a href="/">Join Shine</a>
      <a
        href="/virusanxiety?utm_source=Shine&utm_medium=WebMain&utm_campaign=Footer"
        >Coronavirus Anxiety</a
      >
      <a
        href="https://premium.shinetext.com/quiz/start?utm_source=Shine&utm_medium=WebMain&utm_campaign=Footer"
        >Self-Care Style Quiz</a
      >
      <a href="/advice">Get Advice</a>
      <a href="/gift">Send a Gift</a>
      <a href="/squad">The Squad</a>
      <a href="/jobs">Careers</a>
      <a href="https://shinetext.zendesk.com/hc/en-us">FAQ</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-of-service">Terms of Service</a>
    </div>
  </div>
</footer>

<!-- @todo HACK: remove the footer's top margin when the footer-cta isn't displayed -->
<% if (typeof hideFooterCta !== 'undefined' && hideFooterCta) { %>
<style>
  footer {
    margin-top: 0;
  }
</style>
<% } %>
