<head>
  <title><%= typeof title === 'undefined' ? 'Shine' : title %></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="<%=typeof metaDescription === 'undefined' ? 'Shine sends you free daily text messages with motivational quotes, positive affirmations and actions you can take every morning.' : metaDescription%>" />

  <meta property="og:url" content="http://www.shinetext.com" />
  <meta property="og:title" content="<%= typeof title === 'undefined' ? 'Shine' : title %>" />
  <meta property="og:description" content="<%= typeof metaDescription === 'undefined' ? 'Shine sends you daily text messages with motivational quotes, positive affirmations and actions you can take every morning.' : metaDescription %>" />
  <meta property="og:site_name" content="Shine" />
  <meta property="og:image" content="http://images.contentful.com/awpxl2koull4/8vqZb1ZBiog8QwwuKOAAQ/ad804a91ff4bff3fa96c0db23aca9e0e/shine-fb-link_graphic-01.png" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->

  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-68971267-1', 'auto');

    // GA autotrack plugins
    ga('require', 'eventTracker');

    ga('send', 'pageview');

  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script async src='https://cdnjs.cloudflare.com/ajax/libs/autotrack/1.0.1/autotrack.js'></script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KCRJ54');</script>
  <!-- End Google Tag Manager -->

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '190488081450568');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=190488081450568&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>