<div class="navbar">
  <a href="/">
    <img
      class="shine-logo"
      src="https://images.ctfassets.net/awpxl2koull4/6Ge2cCqfKg0IM8CIsOMiq6/bc0dee5dd91c1b37a155c220e95893d4/shine-logo-nav-122018.png?w=100"
    />
  </a>

  <div class="navbar-links-container">
    <div class="navbar-links">
      <a href="https://shineapp.onelink.me/Unhk/3fccab66">Get The App</a>
    </div>
    <div class="navbar-links"><a href="/app">Shine Premium</a></div>
    <div class="navbar-links"><a href="/advice">Get Advice</a></div>
    <div class="navbar-links"><a href="/squad">The Squad</a></div>
  </div>
  <i id="mobile-menu-button" class="fa fa-bars" aria-hidden="true"></i>
</div>
<div id="mobile-menu">
  <i id="mobile-menu-button-close" class="fa fa-times" aria-hidden="true"></i>
  <ul>
    <li><a href="https://shineapp.onelink.me/Unhk/3fccab66">Get The App</a></li>
    <li><a href="/app">Shine Premium</a></li>
    <li><a href="/advice">Get Advice</a></li>
    <li><a href="/squad">The Squad</a></li>
  </ul>
</div>
