<div id="promoted-articles">

<h2>Read Up On Happy Living</h2>

<div class="row">
  <div id="promoted-articles-results"></div>
</div>

<a href="advice"><div id="read-more">Read More</div></a>

</div>

<!-- Article preview template -->
<script id="article-preview-template" type="text/template">
  <div class="article-preview col-xs-12 col-sm-4"
    data-100-bottom-top="transform: translate3d(0px,25%,0px)"
    data-bottom-bottom="transform: translate3d(0px,0%,0px)">
    <a href="<%= adviceBaseUrl %>/<?= article.urlPath ?>">
      <div class="article-photo">
        <img src="<?= article.photo ?>">
      </div>
      <div class="author-photo">
        <img src="<?= author.photo ?>">
      </div>
      <div class="article-preview-text">
        <div class="article-title"><?= article.title ?></div>
        <div class="author-name">By <?= author.name ?></div>
      </div>
    </a>
  </div>
</script>