<ul class="referral-rewards">
  <h2>Refer friends. Earn swag.</h2>

  <li>
    <div class="label-container">
      <h4>10 Referrals</h4>
    </div>
    <div class="reward-image -r1"></div>
    <p>A Shine sticker</p>
  </li>
  <li>
    <div class="label-container">
      <h4>20 Referrals</h4>
    </div>
    <div class="reward-image -r2"></div>
    <p>A Shine tote</p>
  </li>
  <li>
    <div class="label-container">
      <h4>30 Referrals</h4>
    </div>
    <div class="reward-image -r3"></div>
    <p>A Shine t-shirt</p>
  </li>
  <li>
    <div class="label-container">
      <h4>50 Referrals</h4>
    </div>
    <div class="reward-image -r4"></div>
    <p>A call-out in the daily Shine Text</p>
  </li>
  <li>
    <div class="label-container">
      <h4>100 Referrals</h4>
    </div>
    <div class="reward-image -r5"></div>
    <p>A Shine VIP hoodie</p>
  </li>
  <li>
    <div class="label-container">
      <h4>500 Referrals</h4>
    </div>
    <div class="reward-image -r6"></div>
    <p>A pair of Shine Leggings (!)</p>
  </li>
</ul>