<ul class="referral-rewards">
  <% if (title !== 'Confirmed! | Shine') { %>
    <h2>Refer friends. Earn swag.</h2>
    <% } %>

      <li>
        <div class="label-container">
          <h4>5 Referrals</h4>
        </div>
        <div class="reward-image -r4"></div>
        <p> Official Entry to Shine Squad Digital Community</p>
      </li>
      <li>
        <div class="label-container">
          <h4>10 Referrals</h4>
        </div>
        <div class="reward-image -r1"></div>
        <p>Shine Sticker</p>
      </li>
      <li>
        <div class="label-container">
          <h4>20 Referrals</h4>
        </div>
        <div class="reward-image -r3"></div>
        <p>A Shine t-shirt</p>
      </li>
      <li>
        <div class="label-container">
          <h4>30 Referrals</h4>
        </div>
        <div class="reward-image -r8"></div>
        <p>Shine Journal</p>
      </li>
      <li>
        <div class="label-container">
          <h4>50 Referrals</h4>
        </div>
        <div class="reward-image -r7"></div>
        <p>Shine Water Bottle</p>
      </li>
      <li>
        <div class="label-container">
          <h4>100 Referrals</h4>
        </div>
        <div class="reward-image -r5"></div>
        <p>Shine VIP Hoodie</p>
      </li>
</ul>
