<!DOCTYPE html>
<html>
  <%- partial ('../partials/head.ejs') %>

  <body class="subpage">
    <%- partial ('../partials/navbar.ejs') %>
    <%- body %>
    <%- partial ('../partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!--SCRIPTS-->
    <script src="/js/ejs.min.js"></script>
    <script src="/js/homepage.js"></script>
    <script src="/js/my-referrals.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/referrals.js"></script>
    <script src="/js/signup-form.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
