<header class="header-error header-404">
  <%- partial ('partials/header-icon.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <h1>Uh oh. We can't find what you're looking for.</h1>
      </div>
    </div>
  </div>
</header>

<div class="content-error">
  Having trouble finding what you're looking for? Email us at <a href="mailto:help@shinetext.com">help@shinetext.com</a>!
</div>

<%- partial ('partials/footer.ejs') %>
