<header class="header-error header-500">
  <%- partial ('partials/header-icon.ejs') %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
        <h1>Uh oh. We ran into a problem.</h1>
      </div>
    </div>
  </div>
</header>

<div class="content-error">
  If the problem persists, please contact us at <a href="mailto:help@shinetext.com">help@shinetext.com</a>!

  <% if (typeof data !== 'undefined') { %>
    <pre class="error"><code>
      <%- data %>
    </code></pre>
  <% } %>
</div>

<%- partial ('partials/footer.ejs') %>