<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
  <h1>SHINE FAQ</h1>

  <p>Hey, you! Thanks for coming to our FAQ page. We're here to answer any questions you have. If you don't see your answer below, email us at <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a> and we'll get back to you as soon as possible.</p>
  <p>Thanks for your interest in Shine!</p>

  <h3>What's this Shine thing all about?</h3>
  <p>We want to make your day better. Shine is a daily text experience to help you be your best self at work and life. Every morning, we'll send you actionable tips and content around confidence, daily happiness,  mental health, or productivity.</p>

  <h3>When should I expect the texts to come?</h3>
  <p>Monday-Friday around 8:15 am in your time zone.</p>

  <h3>Can I change the time the texts arrive?</h3>
  <p>Right now, we're able to adjust delivery time by time zone. If you want to push back the arrival time by a few hours, email us at <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a> with your phone # and timing preference.</p>

  <h3>Is Shine free?</h3>
  <p>Yep, Shine is free!</p>

  <h3>Is Shine just for women?</h3>
  <p>We're for all humans! We started out focusing on women (because well, we're women so that seemed like the most natural place to start) and we quickly realized everyone needs a little help to get through their day.</p>

  <h3>Why did you start Shine?</h3>
  <p>As close friends who met at work, we regularly leaned on each other for support, advice and confidence tips. We often didn't feel qualified for our successes and that it stemmed from false beliefs about ourselves.</p>
  <p>We realized so many people struggle with the same feelings, yet we often feel like we're the only ones. Through Shine, we want to scale the support we gave each other to as many people as possible to elevate important conversations around living intentionally and being your best self.</p>

  <h3>Are you available globally?</h3>
  <p>Not yet. We'd love to offer Shine globally, but resources wise, we're currently only able to offer it to people in the US.</p>

  <h3>How do you opt out?</h3>
  <p>To opt out, text "QUIT" to 75985. We're sad to see you go so if you have any feedback on how Shine could improve, work best for you, etc. let us know by sending feedback to <a href="mailto:feedback@shinetext.com" target="_blank">feedback@shinetext.com</a>.</p>

  <h3>Do we disclose any information to outside parties?</h3>
  <p>Nope, we don't get down like that. Check out our <a href="http://www.shinetext.com/privacy-policy" target="_blank">Privacy Policy</a> for more info.</p>
</div>