<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
  <h1>SHINE FAQ</h1>
  <p>
    Hey, you! Thanks for coming to our FAQ page. We're here to answer any
    questions you have. If you don't see your answer below, email us with your
    full name and phone number, and
    <strong>
      the platform you're using (SMS, iOS app, Android app, Facebook Messenger,
      or Kik)</strong
    >
    at
    <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a>
    and we'll get back to you as soon as possible.
  </p>
  <p>Thanks for your interest in Shine!</p>

  <h3>What's this Shine thing all about?</h3>
  <p>Shine is your daily “I got this.”</p>
  <p>
    Every weekday morning, we'll send you a motivational Shine Text with advice
    and research-backed strategies to help you boost your confidence, reclaim
    your happiness, take care of your mental health, work smarter, and more.
  </p>

  <p></p>
  <p>
    Then, we’ll help you put self-compassion into practice with our library of
    Shine Talks—they’re short pep talks and meditations to help you navigate
    life’s highs and lows and help you get grounded in your day. Start one of
    our 7 Day Challenges, and you’ll feel your growth within a week.
  </p>
  <p>
    Download the Shine app in the
    <a href="https://go.onelink.me/app/5d0b8abf">App Store</a> and
    <a href="https://go.onelink.me/app/d43a7241">Google Play</a>.
  </p>

  <h3>When should I expect the texts to come?</h3>
  <p>
    If you’re an OG Shine member and get us via SMS, your texts will come on
    Monday-Friday and at the delivery time that you selected when you signed up!
  </p>
  <p>
    If you did not set a time for yourself when you signed up, your texts will
    come on Monday-Friday by 9am in your time zone.
  </p>
  <p>
    If you’re using the Shine iOS or Android app, your daily Shine Text will
    come at 8:30 a.m. your time.
  </p>

  <h3>Can I change the time the texts arrive?</h3>
  <p>
    If you get Shine via SMS: Yes! When you first sign up for Shine Texts, you
    can set the time you want to receive your daily texts.
  </p>
  <p>
    If you're already receiving Shine texts via SMS, just
    <a href="https://www.shinetext.com/?r=sms">sign up again</a> and you'll be
    able to set your time. Your referral count will not be affected by signing
    up to adjust your time.
  </p>
  <p>
    If you have the Shine app: At this time, there is no in-app feature where
    you can set when your Shine Texts arrive.
  </p>

  <h3>Is Shine free?</h3>
  <p>
    You can receive your Shine Text for free in our Shine
    <a href="https://go.onelink.me/app/5d0b8abf">iOS</a> or
    <a href="https://go.onelink.me/app/d43a7241">Android</a> app, as well as via
    SMS and Facebook Messenger.
  </p>
  <p>
    To access our full library of Shine Talks and 7-Day Challenges in our app,
    you can subscribe to Shine
    <a href="http://premium.shinetext.com/?utm_source=Shine&utm_medium=FAQPage"
      >Premium</a
    >.
  </p>
  <p>
    We offer the following subscription options for Shine Premium in the Shine
    app:
  </p>
  <ul>
    <li>
      $4.50 / month for the yearly subscription ($53.99 billed as one payment)
      or
    </li>
    <li>
      $11.99 / month for the monthly subscription (billed $11.99 each month)
    </li>
  </ul>

  <h3>Why did you start Shine?</h3>
  <p>
    Shine’s co-founders, Marah Lidey and Naomi Hirabayashi, are
    work-wives-turned-co-CEOs. In 2016, they recognized that they weren’t
    represented in the wellness industry and they couldn’t find the support they
    need—so they created Shine. It’s like a best friend who’s got your back as
    you navigate life’s highs, lows, and mehs.
  </p>
  <p>
    “We realized so many people struggle with the same feelings, yet we often
    feel like we're the only ones. Through Shine, we want to scale the support
    we gave each other to as many people as possible to elevate important
    conversations around living intentionally and being your best self.” - Marah
    Lidey & Naomi Hirabayashi, Shine co-CEOs
  </p>

  <h3>Is Shine just for women?</h3>
  <p>Nope! Our members are all different genders and backgrounds.</p>

  <h3>Is Shine available globally?</h3>
  <p>
    Yes! You can download the Shine app globally in the
    <a href="https://go.onelink.me/app/5d0b8abf">App Store</a> or
    <a href="https://go.onelink.me/app/d43a7241">Google Play Store</a>. We’re
    proud to have users in 189+ countries.
  </p>

  <h3>How is the Shine app different than Shine Texts?</h3>
  <p>
    If you’re already getting Shine Texts via SMS or Facebook Messenger, think
    of the Shine app as a #glowup to your Shine experience.
  </p>
  <p>
    You’ll still get your weekday Shine Text in the app, but you’ll also gain
    access to hundreds of Shine Talks and 7-Day Challenges on topics like
    burnout, side hustles, managing your money, and more. Other perks: Our
    check-in feature will help you make gratitude a daily habit, and you can
    favorite the Shine Texts you love most and build your own self-care toolkit.
    Check out all the perks of the Shine app
    <a href="http://premium.shinetext.com/?utm_source=Shine&utm_medium=FAQPage"
      >here</a
    >.
  </p>

  <h3>How can I get notifications in my Shine app?</h3>
  <p>
    The Shine app works best with push notifications on (that way, you get
    notified when your Shine Text arrives!). You can enable Push Notifications
    inside the Settings section of the Shine App, under the Account tab.
  </p>

  <h3>How can I listen to a Shine Talk in the Shine app?</h3>
  <p>
    To access our in-app audio library, tap the headphones icon at the top of
    the app to view the audio library or tap on the recommended audio track in
    your daily Shine Text.
  </p>

  <h3>
    After I finish a 7-day challenge, will I be able to listen to it again later
    on?
  </h3>
  <p>
    Yes! Once you finish a 7-day challenge, you can come back and listen to the
    tracks as many times as you’d like.
  </p>

  <h3>
    How often do tracks come out? Will there be more tracks in the future?
  </h3>
  <p>
    We drop new Shine Talks and 7-day challenges in the app weekly. Download the
    app to stay updated on what’s new.
  </p>

  <h3>If I have the app, will I still get my texts?</h3>
  <p>
    Yes—the Shine app will not affect the messages you get on SMS, Facebook
    Messenger, or Kik. You can get messages on both the Shine app and your
    favorite messaging app. But feel free to text MUTE at anytime to pause your
    Shine Texts.
  </p>

  <h3>Do you disclose any information to outside parties?</h3>
  <p>
    Nope, we don't get down like that. Check out our
    <a
      href="https://www.shinetext.com/privacy-policy/?utm_source=Shine&utm_medium=FAQPage"
      target="_blank"
      >Privacy Policy</a
    >
    for more info.
  </p>

  <h3>How can I write for Shine?</h3>
  <p>
    We’re always looking for new voices for our site—<a
      href="https://advice.shinetext.com/articles/write-for-shine/?utm_source=Shine&utm_medium=FAQPage"
      >head here</a
    >
    to get all the deets on what we’re looking for and how to pitch us.
  </p>

  <h3>How can I partner with Shine?</h3>
  <p>
    For partnerships and press inquiries, contact us at
    <a href="mailto:press@shinetext.com" target="_blank">press@shinetext.com</a
    >.
  </p>

  <h3>How can I cancel my subscription in the Shine app?</h3>
  <p>
    If you purchased Shine Premium within the Shine iOS App, just follow
    <a href="https://support.apple.com/en-us/HT202039">these instructions</a> to
    manage your subscriptions using your Apple ID.
  </p>
  <p>
    If you purchased Shine Premium within the Shine Android app, follow
    <a
      href="https://support.google.com/googleplay/answer/7018481?co=GENIE.Platform%3DAndroid&hl=en"
      >these instructions</a
    >
    to manage your subscription on your Google Play account.
  </p>
  <p>
    Pro tip: Your subscription renews automatically—that means simply deleting
    the app won’t end your subscription. Follow the step-by-step instructions
    above to make sure you won’t get billed again.
  </p>
  <p>
    If you purchased Shine Premium on our website, please email
    <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a>
    with the subject line: Cancel Subscription.
  </p>
  <p>
    We’ll be sad to see you go and would love any feedback you have on your
    experience. Feel free to email us your thoughts at
    <a href="mailto:feedback@shinetext.com" target="_blank"
      >feedback@shinetext.com</a
    >.
  </p>

  <h3>How do you opt out of text messages?</h3>
  <p>
    To opt out of our SMS message, text "QUIT" or “STOP” to 75985.
  </p>
  <p>
    If you’re on Facebook Messenger, either text "QUIT" or “STOP” or click the
    check box in the right corner and select “Turn Off Messages.” We're sad to
    see you go so if you have any feedback on how Shine could improve, work best
    for you, etc. let us know by sending feedback to
    <a href="mailto:feedback@shinetext.com" target="_blank"
      >feedback@shinetext.com</a
    >.
  </p>

  <h3>Can I access my referral code in the Shine app?</h3>
  <p>
    At this time, referral codes are not available in the Shine app, but if you
    get our SMS message, you can access your referrals at
    www.shinetext.com/referrals.
  </p>

  <h3>Can I access the Shine Corner in the Shine app?</h3>
  <p>
    At this time, the Shine Corner is not available in the Shine app, but if you
    get our SMS message you can still access the Shine Corner at
    daily.shinetext.com.
  </p>
</div>
