<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
  <h1>SHINE FAQ</h1>
  <p>Hey, you! Thanks for coming to our FAQ page. We're here to answer any questions you have. If you don't see your answer below, email us with your full name and phone number, and
    <strong>the platform you're using (SMS, iOS app, Facebook Messenger, or Kik)</strong> at
    <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a> and we'll get back to you as soon as possible.</p>
  <p>Thanks for your interest in Shine!</p>

  <h3>What's this Shine thing all about?</h3>
  <p>Shine makes it easier for you to take care of yourself.</p>
  <p>Every morning, we'll send you a conversational experience around your wellbeing, with research-backed content around confidence,
    daily happiness, mental health and productivity.</p>
  <p>Shine is available via SMS, Facebook Messenger, Kik, and our iOS app is available in the App Store.</p>

  <h3>When should I expect the texts to come?</h3>
  <p>Your texts will come on Monday-Friday, and at the delivery time that you selected when you signed up! If you did not set
    a time for yourself when you signed up, your texts will come on Monday-Friday by 9am in your time zone.</p>

  <h3>Can I change the time the texts arrive?</h3>
  <p>Yes! If you're a new Shine member, you can set your time when you sign up.</p>
  <p>If you're an existing member on SMS, just
    <a href="https://www.shinetext.com/">sign up</a> again and you'll be able to set your time. Your intention that you set and referral count will not be affected
    by signing up to adjust your time.</p>

  <h3>Can I change the goal that I'm working on?</h3>
  <p>Yes! Just text GOAL to 759-85 to change the intention that you want to work on.</p>

  <h3>Is Shine free?</h3>
  <p>You can receive your Daily Shine for free across SMS, Facebook Messenger, Kik, and using the free Shine iOS app.</p>
  <p>For even more Shine on-demand, you can subscribe to “Mindful Moments” in the Shine app on iOS—our modern take on meditations
    around the *real* stuff we all struggle with.</p>
  <p>We offer the following subscription options for Mindful Moments in the Shine app:</p>
  <ul>
    <li>$4.99 / month for the yearly subscription ($59.99 billed as one payment) or</li>
    <li>$9.99 / month for the monthly subscription (billed $9.99 each month)</li>
  </ul>

  <h3>Is Shine just for women?</h3>
  <p>Nope! Our members are all different genders and backgrounds.</p>

  <h3>Why did you start Shine?</h3>
  <p>As close friends who met at work, we regularly leaned on each other for support, advice and confidence tips. We often didn't
    feel qualified for our successes and that it stemmed from false beliefs about ourselves.</p>
  <p>We realized so many people struggle with the same feelings, yet we often feel like we're the only ones. Through Shine,
    we want to scale the support we gave each other to as many people as possible to elevate important conversations around
    living intentionally and being your best self.</p>

  <h3>Is Shine available globally?</h3>
  <p>Yes! To access Shine, if you're outside the United States, sign up for Shine on
    <a href="https://m.me/ShineText">Facebook Messenger</a>.</p>

  <h3>How do you opt out of text messages?</h3>
  <p>To opt out, text "QUIT" to 75985. We're sad to see you go so if you have any feedback on how Shine could improve, work
    best for you, etc. let us know by sending feedback to
    <a href="mailto:feedback@shinetext.com" target="_blank">feedback@shinetext.com</a>.</p>

  <h3>Do we disclose any information to outside parties?</h3>
  <p>Nope, we don't get down like that. Check out our
    <a href="https://www.shinetext.com/privacy-policy" target="_blank">Privacy Policy</a> for more info.</p>

  <h3>How can I partner with Shine?</h3>
  <p>For partnerships and press inquiries, contact us at
    <a href="mailto:press@shinetext.com" target="_blank">press@shinetext.com</a>.</p>

  <h3>Shine App FAQs</h3>
  <ul>
    <li>
      <p>
        <strong>Is the Shine app free?</strong>
      </p>
      <p>The Shine app is free to download and you’ll still receive your Daily Shine in the app for free. </p>
      <p>But if you want to get the souped-up version - unlimited access to hundreds of life-affirming audio tracks a.k.a. Mindful
        Moments - you can pay less than your monthly coffee budget.</p>
      <p>We offer two auto-renewing subscription options:</p>
      <ul>
        <li>$4.99 / month for the yearly subscription ($59.99 billed as one payment)</li>
        <li>$9.99 / month for the monthly subscription (billed $9.99 each month)</li>
      </ul>
      <p>Give us a try, you won’t regret it.</p>
    </li>


    <li>
      <p>
        <strong>If I have the app, will I still get my texts?</strong>
      </p>
      <p>Yes—the Shine app will not affect the messages you get on SMS, Facebook Messenger, or Kik. You can get messages on
        both the Shine app and your favorite messaging app. But feel free to text MUTE at anytime to pause your Shine Texts.</p>
    </li>

    <li>
      <p>
        <strong>Is the Shine app available for Android?</strong>
      </p>
      <p>Currently, the Shine app is only available for iOS, however if you
        <a href="https://www.shinetext.com/">sign up</a> for texts from Shine, you’ll be the first to know updates on future products.</p>
    </li>

    <li>
      <p>
        <strong>Is the Shine app available for international users?</strong>
      </p>
      <p>Yes! You can download the Shine app in the Apple App Store in every country.</p>
    </li>

    <li>
      <p>
        <strong>How is the Shine app different than Shine Texts?</strong>
      </p>
      <p>In the Shine app, you will still receive your Shine Texts and you’ll have access to hundreds of Mindful Moments—our
        modern take on meditations around the *real* stuff we all struggle with. Whether you’re dealing with a toxic friend,
        getting fatigued from dating apps - or are just trying to find some chill in your day - we got you.</p>
    </li>

    <li>
      <p>
        <strong>How can I listen to a Mindful Moment in the Shine app?</strong>
      </p>
      <p>To listen to a Mindful Moment, you can tap the Shine logo at the top of the app to view the audio library or tap on
        the recommended audio track in today’s Shine Text.</p>
    </li>

    <li>
      <p>
        <strong>After I finish a 7-day challenge, will I be able to listen to it again later on?</strong>
      </p>
      <p>Yes! Once you finish a 7-day challenge, you can come back and listen to the tracks as many times as you’d like.</p>
    </li>

    <li>
      <p>
        <strong>How often do tracks come out? Will there be more tracks in the future?</strong>
      </p>
      <p>You bet there will be. Download the app for updates on new audio tracks.</p>
    </li>

    <li>
      <p>
        <strong>How can I cancel my subscription in the Shine app?</strong>
      </p>
      <p>Just follow
        <a href="https://support.apple.com/en-us/HT202039">these instructions</a> to manage your subscriptions using your Apple ID. We’ll be sad to see you go and would love
        any feedback you have on your experience. Feel free to email us your thoughts at help@shinetext.com.</p>
    </li>

    <li>
      <p>
        <strong>Can I access my referral code in the Shine app?</strong>
      </p>
      <p>At this time, referral codes are not available in the Shine app, but you can still access them for text message referrals
        at
        <a href="/referrals">www.shinetext.com/referrals</a>
      </p>
    </li>

    <li>
      <p>
        <strong>Can I access the Shine Corner in the Shine app?</strong>
      </p>
      <p>At this time, the Shine Corner is not available in the Shine app, but you can still access the Shine corner in your
        daily Shine Text at daily.shinetext.com.</p>
    </li>
  </ul>
</div>
