<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
  <h1>SHINE FAQ</h1>
  <p>
    Hey, you! Thanks for coming to our FAQ page. We're here to answer any
    questions you have. If you don't see your answer below, email us with your
    full name and phone number, and
    <strong>
      the platform you're using (iOS app, Android app, or Facebook
      Messenger)</strong
    >
    at
    <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a>
    and we'll get back to you as soon as possible.
  </p>
  <p>Thanks for your interest in Shine!</p>

  <ul>
    <a href="#about"><li>About Shine</li></a>
    <a href="#dailyshine"><li>Daily Shine Message & Meditation</li></a>
    <a href="#app"><li>Using the Shine App</li></a>
    <a href="#premium"><li>Shine Premium Subscription</li></a>
    <a href="#work"><li>Working with Shine</li></a>
  </ul>

  <div id="about"><h3>About Shine</h3></div>
  <h4>What's this Shine thing all about?</h4>
  <p>Shine is your daily “I got this.”</p>
  <p>
    Every weekday morning, we'll send you a motivational Shine Text with advice
    and research-backed strategies to help you boost your confidence, reclaim
    your happiness, take care of your mental health, work smarter, and more.
  </p>
  <p>
    Then, we’ll help you put self-compassion into practice with our library of
    Shine Talks—they’re short pep talks and meditations to help you navigate
    life’s highs and lows and help you get grounded in your day. Start one of
    our 7 Day Challenges, and you’ll feel your growth within a week.
  </p>
  <p>
    Download the Shine app in the
    <a href="https://go.onelink.me/app/5d0b8abf">App Store</a> and
    <a href="https://go.onelink.me/app/d43a7241">Google Play</a>.
  </p>

  <h4>Why did you start Shine?</h4>
  <p>
    Shine’s co-founders, Marah Lidey and Naomi Hirabayashi, are
    work-wives-turned-co-CEOs. In 2016, they recognized that they weren’t
    represented in the wellness industry and they couldn’t find the support they
    need—so they created Shine. It’s like a best friend who’s got your back as
    you navigate life’s highs, lows, and mehs.
  </p>
  <p>
    “We realized so many people struggle with the same feelings, yet we often
    feel like we're the only ones. Through Shine, we want to scale the support
    we gave each other to as many people as possible to elevate important
    conversations around living intentionally and being your best self.” - Marah
    Lidey & Naomi Hirabayashi, Shine co-CEOs
  </p>

  <div id="dailyshine"><h3>Daily Shine Message & Meditation</h3></div>
  <h4>
    What is the Daily Shine?
  </h4>
  <p>
    The Daily Shine is a short, podcast-meets-meditation that digs deeper into
    the day’s Shine theme and helps you put it into practice. It’s your time to
    connect with how you’re feeling and what you want out of your day.
  </p>
  <p>
    The Daily Shine track is free to listen on the day it is released. Subscribe
    to Shine
    <a href="http://premium.shinetext.com/?utm_source=Shine&utm_medium=FAQPage"
      >Premium</a
    >
    to listen to our full library of Daily Shine tracks any time!
  </p>

  <h4>When should I expect the daily messages to come?</h4>
  <p>
    If you’re using the Shine iOS or Android app, your Daily Shine message will
    come at 8:30 a.m. your time.
  </p>

  <h4>Can I change the time the texts arrive?</h4>
  <p>
    At this time, there is no in-app feature where you can set when your Daily
    Shine message arrives.
  </p>

  <h4>How do I opt out of messages on FB Messenger?</h4>
  <p>
    If you’re on Facebook Messenger, either text "QUIT" or “STOP” or click the
    check box in the right corner and select “Turn Off Messages.” We're sad to
    see you go so if you have any feedback on how Shine could improve, work best
    for you, etc. let us know by sending feedback to
    <a href="mailto:feedback@shinetext.com" target="_blank"
      >feedback@shinetext.com</a
    >.
  </p>

  <div id="app"><h3>Using the Shine App</h3></div>
  <h4>Is Shine available globally?</h4>
  <p>
    Yes! You can download the Shine app globally in the
    <a href="https://go.onelink.me/app/5d0b8abf">App Store</a> or
    <a href="https://go.onelink.me/app/d43a7241">Google Play Store</a>. We’re
    proud to have users in 195 countries!
  </p>

  <h4>How is the Shine app different than Shine Texts?</h4>
  <p>
    If you’re already getting Shine Texts via Facebook Messenger, think of the
    Shine app as a #glowup to your Shine experience.
  </p>
  <p>
    You’ll still get your weekday Shine Text in the app, but you’ll also gain
    access to over 500 Shine Talks and 7-Day audio challenges on topics like
    burnout, side hustles, managing your money, and more. Other perks: Our
    check-in feature will help you make gratitude a daily habit, and you can
    favorite the Shine Messages and tracks you love most and build your own
    self-care toolkit. Check out all the perks of the Shine app
    <a href="http://premium.shinetext.com/?utm_source=Shine&utm_medium=FAQPage"
      >here</a
    >.
  </p>

  <h4>How can I get notifications in my Shine app?</h4>
  <p>
    The Shine app works best with push notifications on (that way, you get
    notified when your Shine Text arrives!). You can enable Push Notifications
    inside the Settings section of the Shine App, under the Account tab.
  </p>

  <h4>How can I listen to a Shine Talk in the Shine app?</h4>
  <p>
    To access our in-app audio library, tap the headphones icon at the top of
    the app to view the audio library or tap on the recommended audio track in
    your daily Shine Text.
  </p>

  <h4>
    After I finish a challenge, will I be able to listen to it again later on?
  </h4>
  <p>
    Yes! Once you finish a 7-day challenge, you can come back and listen to the
    tracks as many times as you’d like.
  </p>

  <h4>
    How often do new tracks come out?
  </h4>
  <p>
    We drop new Shine Talks and 7-day challenges in the app weekly. Download the
    app to stay updated on what’s new.
  </p>

  <h4>If I have the app, will I still get my texts?</h4>
  <p>
    Yes—the Shine app will not affect the messages you get Facebook Messenger.
    You can get messages on both the Shine app and Facebook Messenger.
  </p>

  <h4>Do you disclose any information to outside parties?</h4>
  <p>
    Nope, we don't get down like that. Check out our
    <a
      href="https://www.shinetext.com/privacy-policy/?utm_source=Shine&utm_medium=FAQPage"
      target="_blank"
      >Privacy Policy</a
    >
    for more info.
  </p>

  <div id="premium"><h3>Shine Premium Subscription</h3></div>
  <h4>Is Shine free?</h4>
  <p>
    You can receive your Shine Text for free in our Shine
    <a href="https://go.onelink.me/app/5d0b8abf">iOS</a> or
    <a href="https://go.onelink.me/app/d43a7241">Android</a> app, as well as via
    Facebook Messenger.
  </p>
  <p>
    To access our full library of Shine Talks and 7-Day Challenges in our app,
    you can subscribe to Shine
    <a href="http://premium.shinetext.com/?utm_source=Shine&utm_medium=FAQPage"
      >Premium</a
    >.
  </p>
  <p>
    We offer the following subscription options for Shine Premium in the Shine
    app:
  </p>
  <ul>
    <li>
      $4.50 / month for the yearly subscription ($53.99 billed as one payment)
      or
    </li>
    <li>
      $11.99 / month for the monthly subscription (billed $11.99 each month)
    </li>
  </ul>

  <h4>How can I cancel my subscription in the Shine app?</h4>
  <p>
    If you purchased Shine Premium within the Shine iOS App, just follow
    <a href="https://support.apple.com/en-us/HT202039">these instructions</a> to
    manage your subscriptions using your Apple ID.
  </p>
  <p>
    If you purchased Shine Premium within the Shine Android app, follow
    <a
      href="https://support.google.com/googleplay/answer/7018481?co=GENIE.Platform%3DAndroid&hl=en"
      >these instructions</a
    >
    to manage your subscription on your Google Play account.
  </p>
  <p>
    Pro tip: Your subscription renews automatically—that means simply deleting
    the app won’t end your subscription. Follow the step-by-step instructions
    above to make sure you won’t get billed again.
  </p>
  <p>
    If you purchased Shine Premium on our website, please email
    <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a>
    with the subject line: Cancel Subscription.
  </p>
  <p>
    We’ll be sad to see you go and would love any feedback you have on your
    experience. Feel free to email us your thoughts at
    <a href="mailto:feedback@shinetext.com" target="_blank"
      >feedback@shinetext.com</a
    >.
  </p>

  <h4>I subscribed with an annual plan promotion, is that for every year?</h4>
  <p>
    Promotional pricing only apply to your first year of Shine Premium. After 1
    year, your subscription will be automatically renewed at $53.99.
  </p>

  <h4>How can I send Shine as a gift?</h4>
  <p>
    Give the gift of Shine Premium, and make self-care easier for the people you
    love by purchasing a gift card
    <a href="https://premium.shinetext.com/gift" target="_blank">here.</a>
  </p>

  <h4>I have a gift card question.</h4>
  <p>
    For all matters related to gift cards, please email our customer service
    team at
    <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a>
  </p>

  <div id="work"><h3>Working with Shine</h3></div>

  <h4>How can I write for Shine?</h4>
  <p>
    We’re always looking for new voices for our site—<a
      href="https://advice.shinetext.com/articles/write-for-shine/?utm_source=Shine&utm_medium=FAQPage"
      >head here</a
    >
    to get all the deets on what we’re looking for and how to pitch us.
  </p>

  <h4>How can I work for Shine?</h4>
  <p>
    For career opportunities, visit our
    <a href="https://careers.shinetext.com/">Careers page</a>
    to get all the deets on what we’re looking for and how to pitch us.
  </p>

  <h4>How can I partner with Shine?</h4>
  <p>
    For partnerships and press inquiries, contact us at
    <a href="mailto:press@shinetext.com" target="_blank">press@shinetext.com</a
    >.
  </p>
</div>
