<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
  <h1>SHINE FAQ</h1>

  <p>Hey, you! Thanks for coming to our FAQ page. We're here to answer any questions you have. If you don't see your answer below, email us at <a href="mailto:help@shinetext.com" target="_blank">help@shinetext.com</a> and we'll get back to you as soon as possible.</p>
  <p>Thanks for your interest in Shine!</p>

  <h3>What's this Shine thing all about?</h3>
  <p>Shine makes it easier for you to take care of yourself.</p>
  <p>Every morning, we'll send you a conversational experience around your wellbeing, with research-backed content around confidence, daily happiness, mental health and productivity.</p>

  <h3>When should I expect the texts to come?</h3>
  <p>Your texts will come on Monday-Friday, and at the delivery time that you selected when you signed up! If you did not set a time for yourself when you signed up, your texts will come on Monday-Friday by 9am in your time zone.</p>

  <h3>Can I change the time the texts arrive?</h3>
  <p>Yes! If you're a new Shine member, you can set your time when you sign up.</p>
  <p>If you're an existing member, just <a href="http://www.shinetext.com/">sign up</a> again and you'll be able to set your time. Your intention that you set and referral count will not be affected by signing up to adjust your time.</p>

  <h3>Can I change the goal that I'm working on?</h3>
  <p>Yes! Just text GOAL to 759-85 to change the intention that you want to work on.</p>

  <h3>Is Shine free?</h3>
  <p>Yep, Shine is free!</p>

  <h3>Is Shine just for women?</h3>
  <p>Nope! Our members are all different genders and backgrounds.</p>

  <h3>Why did you start Shine?</h3>
  <p>As close friends who met at work, we regularly leaned on each other for support, advice and confidence tips. We often didn't feel qualified for our successes and that it stemmed from false beliefs about ourselves.</p>
  <p>We realized so many people struggle with the same feelings, yet we often feel like we're the only ones. Through Shine, we want to scale the support we gave each other to as many people as possible to elevate important conversations around living intentionally and being your best self.</p>

  <h3>Is Shine available globally?</h3>
  <p>Yes! To access Shine, if you're outside the United States, sign up for Shine on <a href="https://m.me/ShineText">Facebook Messenger</a>.</p>

  <h3>How do you opt out?</h3>
  <p>To opt out, text "QUIT" to 75985. We're sad to see you go so if you have any feedback on how Shine could improve, work best for you, etc. let us know by sending feedback to <a href="mailto:feedback@shinetext.com" target="_blank">feedback@shinetext.com</a>.</p>

  <h3>Do we disclose any information to outside parties?</h3>
  <p>Nope, we don't get down like that. Check out our <a href="http://www.shinetext.com/privacy-policy" target="_blank">Privacy Policy</a> for more info.</p>

  <h3>How can I partner with Shine?</h3>
  <p>For partnerships and press inquiries, contact us at <a href="mailto:press@shinetext.com" target="_blank">press@shinetext.com</a>.</p>
</div>