<header>

  <%- partial ('partials/header-icon.ejs') %>

  <div class="container">

    <div class="row">
      <img class="header-logo col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4" src="/images/shine-logo.png">
    </div>

    <div class="row">
      <div class="header-tagline col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        Daily work and life advice sent to you in a text message every morning. We got you.
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
        <form class="header-form" action="https://secure.mcommons.com/profiles/join" method="post">
          <input type="hidden" name="opt_in_path[]" value="OP4B1A27AC508266A1F4373419CE1BE391" />
          <input type="hidden" name="redirect_to" value="www.shinetext.com/confirmation" />

          <input class="form-control" name="person[first_name]" placeholder="First Name" type="text" required>

          <input class="form-control" name="person[last_name]" placeholder="Last Name (optional)" type="text">

          <input class="form-control" name="person[phone]" placeholder="Phone Number" type="tel" required>

          <input class="form-control" name="person[email]" placeholder="Email (optional)" type="email">

          <input type="checkbox" name="person[send_gifs]" id="input-send-gifs" />
          <label for="input-send-gifs">I like GIFs!</label>

          <input class="btn col-xs-8 col-xs-offset-2" type="submit" value="SIGNUP"/>
        </form>
      </div>
    </div>

  </div>
</header>
<div class="container in-the-news">
  <div class="row">
    <div class="news-item col-xs-4 col-md-2">
      <a href="http://money.cnn.com/2016/01/29/technology/startup-shine-text/index.html" target="_blank">
        <img src="/images/news/cnnmoney_logo.png">
      </a>
    </div>
    <div class="news-item col-xs-4 col-md-2">
      <a href="https://www.glamour.com/inspired/blogs/the-conversation/2015/12/vacation-career-tips" target="_blank">
        <img src="/images/news/glamour_logo.png">
      </a>
    </div>
    <div class="news-item col-xs-4 col-md-2">
      <a href="https://fortune.com/2016/01/02/entrepreneur-work-two-jobs" target="_blank">
        <img src="/images/news/fortune_logo.png">
      </a>
    </div>
    <div class="news-item col-xs-4 col-md-2">
      <a href="https://observer.com/2016/01/shine-a-daily-text-to-help-you-slay-the-day/" target="_blank">
        <img src="/images/news/observer_logo.png">
      </a>
    </div>
    <div class="news-item col-xs-4 col-md-2">
      <a href="http://www.psychedmedia.com/blog/2016/1/4/shine-at-work-even-when-you-want-to-crawl-back-into-bed" target="_blank">
        <img src="/images/news/psyched_logo.png">
      </a>
    </div>
    <div class="news-item col-xs-4 col-md-2">
      <a href="http://bigthink.com/robert-montenegro/closing-the-confidence-gap-one-text-at-a-time" target="_blank">
        <img src="/images/news/big_think_logo.png">
      </a>
    </div>
  </div>
</div>
<div class="container-fluid how-does-it-work">
  <h1>How does Shine Text work?</h1>
  <p class="col-md-8 col-md-offset-2 col-xs-12">
    We curate and create content to send you every morning around how to live
    with more intentionality to reach your work and life goals. With positive
    affirmations, tactical tips and the occasional gif, our daily Shine Text
    will give you all the feels.
  </p>
  <div class="row">
    <img class="row col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" src="https://app.dosomething.org/img/hub.png">
  </div>
</div>

<%- partial ('partials/footer.ejs') %>