<div class="homepage">

<%- partial ('partials/header-icon.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <div class="tagline">
        Daily tips for self-fulfillment texted to you every morning
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Image & Form row -->
  <div class="form-image-container row">
    <!--
      Kinda hacky. Puts a yellow background halfway down the example image on
      xs sized screens.
    -->
    <div class=img-1-xs-bg></div>

    <!-- Sign Up Form -->
    <div class="form-container col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-7">
      <div class="row">
        <div class="form-title">
          Get Your Daily Motivation
        </div>
      </div>
      <div class="row">
        <form action="/join" method="post">

          <% if (referredByCode) { %>
          <input name="referredByCode" value="<%= referredByCode %>" type="hidden"/>
          <% } %>

          <div class="form-field">
            <input class="form-control" name="first_name" id="form-first-name" type="text" required value="">
            <label for="form-first-name">First Name</label>
            <span class="required-asterisk">*</span>
          </div>

          <div class="form-field">
            <input class="form-control" name="phone" id="form-phone-number" type="tel" required value="">
            <label for="form-phone-number">Phone Number</label>
            <span class="required-asterisk">*</span>
          </div>

          <div class="form-field">
            <input class="form-control" name="email" id="form-email" type="email" value="">
            <label for="form-email">Email Address</label>
          </div>

          <div id="send-gifs-box"></div>
          <input type="checkbox" name="send_gifs" id="form-send-gifs"/>
          <label class="send-gifs-label" for="form-send-gifs">I want gifs in my texts!</label>

          <div>
            <input class="btn" type="submit" value="Sign Up"/>
          </div>

          <div class="ctia">
            Signing up means you agree to our <a href="/terms-of-service">Terms of Service</a>
            & <a href="/privacy-policy">Privacy Policy</a> and to receive our daily message.
            Message & data rates may apply. Text STOP to opt-out, HELP for help.
          </div>
        </form>
      </div>
    </div> <!-- end Sign Up form -->

    <!-- Example image -->
    <div class="example-img-container col-xs-10 col-xs-offset-1 col-sm-4">
      <img class="example-img-1" src="/images/shine-example-1.png">
    </div>

  </div> <!-- end Image & Form row -->
</div>

<div class="container-fluid bg-yellow">
  <!-- Press -->
  <div class="row">
    <div class="in-the-news col-xs-12 col-md-6 col-md-offset-6">
      <div class="news-item col-xs-4 col-sm-2">
        <a href="https://news.fastcompany.com/can-an-app-eliminate-the-confidence-gap-4005790" target="_blank">
          <img src="/images/news/fastco_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="http://mashable.com/2016/05/05/shine-texts/#z1I1WEfmBSqZ" target="_blank">
          <img src="/images/news/mashable_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="http://money.cnn.com/2016/01/29/technology/startup-shine-text/index.html" target="_blank">
          <img src="/images/news/cnnmoney_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="http://www.teenvogue.com/story/morning-tweaks-start-day-off-right" target="_blank">
          <img src="/images/news/teenvogue_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="https://www.glamour.com/inspired/blogs/the-conversation/2015/12/vacation-career-tips" target="_blank">
          <img src="/images/news/glamour_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="https://observer.com/2016/01/shine-a-daily-text-to-help-you-slay-the-day/" target="_blank">
          <img src="/images/news/observer_logo.png">
        </a>
      </div>
    </div>
  </div>

  <!-- Testimonials -->
  <div class="row">
    <div class="testimonials col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-6">
      <img class="quote-left" src="/images/quote-left.png">
      <img class="quote-right" src="/images/quote-right.png">
      <p>
        It's pretty much the only text I look forward to getting at 8:00 AM.
      </p>
    </div>
  </div>
</div>

<!-- How Shine Works -->
<div class="container-fluid how-shine-works">
  <h2>How Shine Works</h2>
  <div class="row">
    <div class="-item col-sm-4">
      <img src="/images/how-shine-works-1.png">
      <p>
        We know some days you feel awesome and others not-so-much. We curate and
        send daily content that empowers you to slay your day and feel your best
        self.
      </p>
    </div>
    <div class="-item col-sm-4">
      <img src="/images/how-shine-works-2.png">
      <p>
        Your daily Shine text includes positive affirmations, tactical actions
        you can do that day and the occasional gif. Trust us, it'll give you all
        the feels before you even get out of bed.
      </p>
    </div>
    <div class="-item col-sm-4">
      <img src="/images/how-shine-works-3.png">
      <p>
        Share this motiv-affirmation (motivation + affirmation. Yeah, we made up
        a word) with your friends to give them the boost they need.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid friends-signup-container">
  <div class="row">
    <div class="friends-signup col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1">
      <div class="-title">Share Shine with your besties.</div>
      <a href="/referrals">
        <div class="btn">Invite Friends</div>
      </a>
    </div>
    <div class="peer-testimonials col-sm-5 col-md-offset-1">
      <div>
        <img class="quote-left" src="/images/quote-left.png">
        <img class="quote-right" src="/images/quote-right.png">
        <p class="testimonial-quote">
          EVERYTHING I ever needed to make it through another awkward week of my
          version of adulting. I'm always twiddling my thumbs waiting for shine to
          kick my butt back into gear. #dependency
        </p>
      </div>
    </div>
  </div>
</div>

<%- partial ('partials/footer.ejs') %>

</div> <!-- div class="homepage" -->