<div class="homepage">

<%- partial ('partials/header-icon.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="tagline">
        Daily work and life advice sent to you in a text message every morning
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Image & Form row -->
  <div class="row">

    <!-- Sign Up Form -->
    <div class="form-container col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-7">
      <div class="row">
        <div class="text-lg form-title">
          We got you.
        </div>
      </div>
      <div class="row">
        <form action="/join" method="post">
          <div class="form-field">
            <input class="form-control" name="first_name" id="form-first-name" type="text" required value="">
            <label for="form-first-name">First Name</label>
          </div>

          <div class="form-field">
            <input class="form-control" name="phone" id="form-phone-number" type="tel" required value="">
            <label for="form-phone-number">Phone Number</label>
          </div>

          <div class="form-field">
            <input class="form-control" name="phone" id="form-email" type="email" value="">
            <label for="form-email">Email Address</label>
          </div>

          <input type="checkbox" name="send_gifs" id="form-send-gifs"/>
          <label class="send-gifs-label" for="form-send-gifs">I like GIFs!</label>

          <div>
            <input class="btn" type="submit" value="Sign Up"/>
          </div>

          <div class="ctia">
            Terms and Conditions may apply. By clicking "Sign Up" you
            are agreeing to allow Shine to send you text messages! YAY!
          </div>
        </form>
      </div>
    </div> <!-- end Sign Up form -->

    <!-- Example image -->
    <div class="example-img-container col-xs-10 col-xs-offset-1 col-sm-4">
      <img class="example-img-1" src="/images/shine-example-1.png">
    </div>

  </div> <!-- end Image & Form row -->
</div>

<div class="container-fluid bg-yellow">
  <!-- Press -->
  <div class="row">
    <div class="in-the-news col-xs-12 col-md-6 col-md-offset-6">
      <div class="news-item col-xs-4 col-sm-2">
        <a href="http://money.cnn.com/2016/01/29/technology/startup-shine-text/index.html" target="_blank">
          <img src="/images/news/cnnmoney_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="https://www.glamour.com/inspired/blogs/the-conversation/2015/12/vacation-career-tips" target="_blank">
          <img src="/images/news/glamour_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="https://fortune.com/2016/01/02/entrepreneur-work-two-jobs" target="_blank">
          <img src="/images/news/fortune_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="https://observer.com/2016/01/shine-a-daily-text-to-help-you-slay-the-day/" target="_blank">
          <img src="/images/news/observer_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="http://www.psychedmedia.com/blog/2016/1/4/shine-at-work-even-when-you-want-to-crawl-back-into-bed" target="_blank">
          <img src="/images/news/psyched_logo.png">
        </a>
      </div>
      <div class="news-item col-xs-4 col-sm-2">
        <a href="http://bigthink.com/robert-montenegro/closing-the-confidence-gap-one-text-at-a-time" target="_blank">
          <img src="/images/news/big_think_logo.png">
        </a>
      </div>
    </div>
  </div>

  <!-- Testimonials -->
  <div class="row">
    <div class="testimonials col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-6">
      <img class="quote-left" src="/images/quote-left.png">
      <img class="quote-right" src="/images/quote-right.png">
      <p>
        It's pretty much the only text I look forward to getting at 8:00 AM.
      </p>
    </div>
  </div>

  <div class="row how-container">
    <!-- How Shine Works -->
    <div class="how-shine-works col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
      <h2>How Shine Works</h2>
      <p>
        We curate and create content to send to you every morning around how to
        live with more intentionality to reach your work and life goals.
      </p>
      <p>
        With positive affirmations, tactical tips and the occasional gif, our
        daily Shine Text will give you all the feels.
      </p>
    </div>

    <!-- Example image -->
    <div class="example-img-container col-sm-4 col-sm-offset-7">
      <img class="example-img-2" src="/images/shine-example-2.png">
    </div>
  </div>
</div>

<div class="container-fluid friends-signup-container">
  <div class="row">
    <div class="friends-signup col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
      <h2>Try Shine Together With Your Best Friends</h2>
      <p>
        Don't get left out of the fun. Sign up with your best friends now!
      </p>
      <div class="btn">
        <a href="/refer-a-friend">Sign Up Together</a>
      </div>
    </div>
  </div>
</div>

<%- partial ('partials/footer.ejs') %>

</div> <!-- div class="homepage" -->