<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
  <h1>Open Positions</h1>

  <h3 id="full-stack-software-engineer"><strong>Full Stack Software Engineer</strong></h3>

  <h3>About Us</h3>

  <p><a href="http://www.shinetext.com">Shine</a>, the largest daily messaging platform for self-fulfillment, is hiring for a full-stack software engineer. In its first 9 months, Shine has been featured in outlets like Mashable, TechCrunch, Marie Claire, Cosmopolitan, Glamour, TIME, CNN and NBC, and its founders were named 2 of the top <a href="http://www.builtinnyc.com/2016/05/12/35-people-watch-nyc-tech" target="_blank">35 People to Watch in NYC Tech</a>.</p>

  <p>You will have the opportunity to come into an early stage startup to help build, own and establish the direction of our products. We move quickly and will expect the same from you.</p>

  <p>We primarily work with React, Node and MySQL. Our continuous integration is done with CircleCI and we host our products on AWS and Heroku.</p>

  <h3>About You</h3>

  <p>You are a smart and engaged person who cares about solving problems that connect with Shine's mission. You have the maturity and skill that comes with practical, hands-on technical experience. You are inspired by others and enjoy helping to grow and inspire those around you.</p>

  <h3>How you will succeed in this role</h3>

  <ul>
    <li>Create engaging frontend UIs that give our users a great experience</li>
    <li>Build scalable and fault-tolerant backend systems with a focus on implementing and integrating APIs</li>
    <li>Monitor user analytics, app performance and constantly identify areas for improvement</li>
    <li>Ship often and iterate quickly</li>
    <li>Be able to take a beat and appreciate all the work we just did</li>
  </ul>

  <h3>Requirements</h3>

  <ul>
    <li>Frontend: Significant experience with a frontend web framework or template engine</li>
    <li>Backend: Significant experience with Node and MySQL</li>
    <li>At least 3 years of full time work experience as a software engineer at a tech company</li>
  </ul>

  <h3>Bonus</h3>

  <ul>
    <li>Experience with AWS products - Lambda, Elastic Beanstalk, SQS, S3</li>
    <li>Experience with continuous integration and automated testing</li>
    <li>An interest in conversational interfaces through both text and voice</li>
  </ul>

  <h3>How to Apply</h3>

  <p>Email <a href="mailto:jobs@shinetext.com">jobs@shinetext.com</a> with (1) your resume, (2) why you want to work at Shine and (3) a description of a product you've built that you're most proud of.</p>

</div>