<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
  <h2>MEMBER GROWTH + ENGAGEMENT INTERN</h2>

  <h3>BACKGROUND</h3>
  <ul>
    <li><a href="http://www.shinetext.com" target="_blank">Shine</a> is a daily text experience to help you be your best self at work and life. Every morning, we send our users actionable tips and content around confidence, daily happiness,  mental health, or productivity.</li>
    <li>To learn more and sign up, text "SHINE" to 30644 or go to <a href="http://www.shinetext.com" target="_blank">www.shinetext.com</a>. Here's more background on the product and our story from <a href="http://money.cnn.com/2016/01/29/technology/startup-shine-text/" target="_blank">CNN Money</a>.</li>
    <li>We're looking for an intern to lead our member growth and engagement execution for Spring. Candidates should be passionate about the product, have experience with growth strategy, and must be self-starters with the ability to balance multiple projects with accountability, professionalism, and communication.</li>
    <li>We're a small team of 3 so you'll play a key role in helping Shine grow - enabling us to help as many people as possible be their best selves at work and life.</li>
  </ul>

  <h3>RESPONSIBILITIES</h3>

  <h4>Community Engagement</h4>
  <ul>
    <li><strong>Posting in like-minded communities.</strong> Develop a list of like-minded communities focused on living intentionally, happiness, productivity, work / life balance, etc. (across websites, social media groups, online forums, etc.) and post info about Shine to drive sign ups.</li>
  </ul>

  <h4>VIP Shiners engagement</h4>
  <ul>
    <li><strong>Showing the love:</strong> For our Shine VIPs, develop and execute the plan to engage our most engaged users and to drive friend referrals.</li>
  </ul>

  <h4>Community Manager for Facebook & Instagram</h4>
  <ul>
    <li><strong>Posting:</strong> Update Facebook and Instagram with content that best represents Shine, speaks to our target demo, and drives sign ups.</li>
    <li><strong>Map to growth:</strong> Develop the strategy and track how social posting leads to member growth. Social channels should be responsible for 20% of our growth each month.</li>
  </ul>

  <h3>To apply:</h3>
  <ul>
    <li>Submit your application to <a href="mailto:jobs@shinetext.com" target="_blank">jobs@shinetext.com</a> with the subject heading: "Let's do this! Member Growth + Engagement intern application for Shine"</li>
    <li>Include a resume, cover letter and in a one page (or less) doc, include an answer to this question:</li>
    <ul>
      <li>What three like-minded communities would you target first to post about Shine and why?</li>
    </ul>
  </ul>

  <h3>Timing </h3>
  <ul>
    <li>Start date: ASAP</li>
    <li>Duration: April to to June, based on performance. Possibility for extended offer.</li>
  </ul>

  <h3>What you get:</h3>
  <ul>
    <li>College credit or stipend.</li>
    <li>First hand experience in early startup stage. Accountability, ownership and leadership on major projects for the company.</li>
    <li>Access to our awesome office and coworking space, <a href="https://www.wework.com/locations/new-york-city/dumbo-heights" target="_blank">WeWork Dumbo</a>.</li>
    <li>Based on performance, recommendations from co-founders.</li>
  </ul>

</div>