<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <h1>Come work with us!</h1>

    <div style="text-align:center">
        <a class="btn" style="max-width:300px" href="https://careers.shinetext.com/">View Job Openings</a>
    </div>
</div>