<!DOCTYPE html>
<html>
  <%- partial ('./partials/head.ejs') %>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KCRJ54"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%- body %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!--SCRIPTS-->
    <script src="/js/campaign-form.js"></script>
    <script src="/js/ejs.min.js"></script>
    <script src="/js/homepage.js"></script>
    <script src="/js/my-referrals.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/referrals.js"></script>
    <script src="/js/signup-form.js"></script>
    <script src="/js/sms-settings.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
