<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
  <h1>PRIVACY POLICY</h1>
  <p>This privacy policy sets out how Shine, Inc. uses and protects any information that you give when you use our website. Shine Inc. is committed to ensuring that your privacy is protected. We’re all about helping you slay the day at work - we’re super <b>not into</b> selling our peeps’ data.</o>

  <h3>What information do we collect?</h3>
  <p>We collect:</p>
  <ul>
    <li>First and last name</li>
    <li>Phone number</li>
    <li>Email address</li>
    <li>Birthday</li>
  </ul>

  <h3>What do we do with the information we collect?</h3>
  <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
  <ul>
    <li>To personalize your experience (your information helps us to respond to your individual needs)</li>
    <li>To improve our website and product (we continually strive to improve Shine texts and the website based on your feedback)</li>
    <li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</li>
  </ul>

  <h3>Security</h3>
  <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

  <h3>Cookies</h3>
  <p>A cookie is a small file of information placed on your computer. Cookies can help track which websites you visit and what you do on the site.</p>
  <p>Shine Text uses cookies for the following purposes:</p>
  <ul>
    <li>To understand site analytics to improve site features, tailor content, and enhance user experience.</li>
  </ul>

  <h3>Links to other websites</h3>
  <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

  <h3>Do we disclose any information to outside parties?</h3>
  <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.</p>

  <h3>Your consent</h3>
  <p>By using our site, you consent to our privacy policy.</p>

  <h3>Changes to our privacy policy</h3>
  <p>If we decide to change our privacy policy, we will post those changes on this page.</p>

  <h3>Got questions?</h3>
  <p>Email us at <a href="mailto:contactus@shinetext.com" target="_top">contactus@shinetext.com</a></p>

  <h3>Thank you!</h3>
</div>