<div class="refer-friend-page">

<div class="header">

  <%- partial ('partials/header-icon.ejs') %>

  <h1><%= headerText %></h1>

</div>
<div class="content">
  <div class="container">

    <div class="row">
      <div class="mini-form col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
        <h3>Get Your Referral Link</h3>
        <p class="-desc">See how many times you've brought Shine into someone's life.</p>

        <div class="form-field">
          <input class="form-control" name="get-referral-phone" id="get-referral-phone" type="text" value="">
          <label for="get-referral-phone">Your Phone Number</label>
        </div>
        <div id="referral-info">
          <div id="referral-count">0</div>
          <p>
            Here's your unique referral link:<br>
            <a href="/" id="referral-url" target="_blank"></a>
          </p>
          <p>Use this link to share and get credits.</p>
        </div>
        <div id="referral-not-found">
          <p>Sorry. We couldn't find any information for that number. Make sure
          you're first <a href="/">signed up</a>!</p>
        </div>
        <div id="get-referral-info-btn" class="btn">GET MY LINK</div>
      </div>

      <div class="mini-form col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
        <h3>Invite Your Friends Now</h3>
        <p class="-desc">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum
        dolor sit amet. Lorem ipsum dolor sit amet.</p>

        <form action="/refer" method="post">
          <div class="form-field">
            <input class="form-control" name="first_name" id="form-first-name" type="text" value="" required>
            <label for="form-first-name">Your First Name</label>
            <span class="required-asterisk">*</span>
          </div>

          <div class="form-field">
            <input class="form-control" name="phone" id="form-phone-number" type="tel" value="" required>
            <label for="form-phone-number">Your Phone Number</label>
            <span class="required-asterisk">*</span>
          </div>

          <div class="form-field">
            <input class="form-control" name="friends[]" id="form-friend-1" type="tel" value="" required>
            <label for="form-friend-1">Your Friend's Number</label>
            <span class="required-asterisk">*</span>
          </div>

          <input class="btn" type="submit" value="SEND THEM SHINE"/>

          <div class="ctia">
            Terms and Conditions may apply. By clicking "Sign Up" you
            are agreeing to allow Shine to send you text messages! YAY!
          </div>
        </form>
      </div>

  </div>
</div>

</div>