<div class="container-fluid shinevisor">

  <div class="row">
  <div class="container-1">
    <h1>Want to be a pro at #adulting and crush your goals?</h1>
    <!-- <div class="col-sm-6"> -->
    <div class="container-text">
      <h4>Just add this to your vocab...</h4>
      <div class="title">Shinevisor</div>
      <div class="subtitle">[ shahyn’ vīzər ] noun</div>
      <ol>
        <li><p>a <strong>real person</strong> to help you with your life, work or school goals - through texting</p></li>
        <li><p>someone to motivate you and give you tactical, customized advice on living your best life</p></li>
      </ol>
      <h4>Synonyms</h4>
      <div>coach, mentor, personal trainer for like - your life, etc.</div>
      <h4>Antonyms</h4>
      <div>anxiety, stale chips, bad vibes, late trains, burnout...</div>

      <a class="btn" href="#" onclick="$('html,body').animate({scrollTop: $('#container-2').offset().top},'slow');"
        ga-on="click"
        ga-event-category="Shinevisor"
        ga-event-action="purchase"
        ga-event-label="header"/>
        Get Your Shinevisor
      </a>
    </div>

    <div class="container-image">
      <img src="/images/shinevisor/shinevisor-phone.png"/>
    </div>

  </div>
  </div>

  <div class="row">
  <div style="position: relative"><div class="section-arrow"></div></div>
  <div class="container-2" id="container-2">
  <div class="container-plans">

    <h2>Meet your pocket-sized Shinevisor now!</h2>

    <div class="plan secondary">
      <div class="type">Monthly</div>
      <div class="sm-text">payments</div>
      <div class="container-price">
        <div class="price">$19.99</div>
        <div class="md-text">per week</div>
      </div>
      <div class="sm-text">Personalized match with a Shinevisor</div>
      <div class="sm-text">Unlimited messages</div>

      <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSdJazdQSyfdxGYqdM3JjKhbEE0yzUiCOEgFQmtSpD7j-T50Ow/viewform" target="_blank"
        ga-on="click"
        ga-event-category="Shinevisor"
        ga-event-action="purchase"
        ga-event-label="monthly"/>
        Find My Shinevisor
      </a>
    </div>

    <div class="plan primary">
      <div class="type">Quarterly</div>
      <div class="sm-text">payments</div>
      <div class="container-price">
        <div class="price">$15.99</div>
        <div class="md-text">per week</div>
      </div>
      <div class="sm-text">Personalized match with a Shinevisor</div>
      <div class="sm-text">Unlimited messages</div>

      <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSdJazdQSyfdxGYqdM3JjKhbEE0yzUiCOEgFQmtSpD7j-T50Ow/viewform" target="_blank"
        ga-on="click"
        ga-event-category="Shinevisor"
        ga-event-action="purchase"
        ga-event-label="quarterly"/>
        Find My Shinevisor
      </a>
      <div class="sm-text"><strong><em>🌟Best bang for your buck🌟</em></strong></div>
    </div>

  </div>
  </div>
  </div>

</div>
</div>