<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" style="text-align:center;">

  <h4 id="alissa-ponch" style="margin-top:40px;">Alissa Ponch</h4>
  <div>Writer and Editor</div>
  <a href="http://d.shne.us/lb">Learn more</a>
  <hr>

  <h4 id="bree-swartz" style="margin-top:40px;">Bree Swartz</h4>
  <div>Actress, Public Speaker, Meditator & Selfhelpery Nerd</div>
  <a href="http://d.shne.us/lc">Learn more</a>
  <hr>

  <h4 id="breonna-rodriguez" style="margin-top:40px;">Breonna Rodriguez</h4>
  <div>Writer, Motivational Speaker</div>
  <a href="http://d.shne.us/ld">Learn more</a>
  <hr>

  <h4 id="erin-kameiko" style="margin-top:40px;">Erin Kameiko</h4>
  <div>Emotional Wellness Coach</div>
  <a href="http://d.shne.us/l6">Learn more</a>
  <hr>

  <h4 id="esosa-e" style="margin-top:40px;">Esosa E.</h4>
  <div>a.k.a. "The Raw Girl", Natural Beauty & Holistic Nutrition Expert</div>
  <a href="http://d.shne.us/la">Learn more</a>
  <hr>

  <h4 id="lenore-champagne-beirne" style="margin-top:40px;">Lenore Champagne Beirne</h4>
  <div>Leadership Coach</div>
  <a href="http://d.shne.us/l7">Learn more</a>
  <hr>

  <h4 id="maxie-mccoy" style="margin-top:40px;">Maxie McCoy</h4>
  <div>Writer & Speaker</div>
  <a href="http://d.shne.us/l9">Learn more</a>
  <hr>

  <h4 id="sinclair-ceasar" style="margin-top:40px;">Sinclair Ceasar</h4>
  <div>Writer & Motivational Speaker</div>
  <a href="http://d.shne.us/l8">Learn more</a>
  <hr>

  <h4 id="tracy-g" style="margin-top:40px;">Tracy G.</h4>
  <div>Emotional Empowerment Guide, Writer</div>
  <a href="http://d.shne.us/le">Learn more</a>
  <hr>

  <h4 id="joymarie-parker" style="margin-top:40px;">Joymarie Parker</h4>
  <div>Founder & Co-Host of Joblogues</div>
  <a href="http://d.shne.us/u1">Learn more</a>
  <hr>

  <h4 id="cortney-cleveland" style="margin-top:40px;">Cortney Cleveland</h4>
  <div>Digital Storyteller & Co-Host of Joblogues</div>
  <a href="http://d.shne.us/vp">Learn more</a>
  <hr>

  <h4 id="karamo-brown" style="margin-top:40px;">Karamo Brown</h4>
  <div>Culture Expert on Netflix's "Queer Eye"</div>
  <a href="http://d.shne.us/105">Learn more</a>
  <hr>

  <h4 id="alyssa-limperis" style="margin-top:40px;">Alyssa Limperis</h4>
  <div>Comedian & Host of Crazy; In Bed Podcast</div>
  <a href="http://d.shne.us/109">Learn more</a>
  <hr>

  <h4 id="victoria-song" style="margin-top:40px;">Victoria Song</h4>
  <div>Entreprenuer, Investor, Speaker, and Coach</div>
  <a href="http://d.shne.us/10a">Learn more</a>
  <hr>

  <h4 id="brittany-luse" style="margin-top:40px;">Brittany Luse</h4>
  <div>Host of "The Nod" by Gimlet Media</div>
  <a href="http://d.shne.us/12q">Learn more</a>
  <hr>

  <h4 id="hannah-hart" style="margin-top:40px;">Hannah Hart</h4>
  <div>Internet personality & host of "Hannahlyze This" podcast</div>
  <a href="http://d.shne.us/14i">Learn more</a>
  <hr>

  <h4 id="mel-chante" style="margin-top:40px;">Mel Chanté</h4>
  <div>Artist, Poet, Speaker</div>
  <a href="http://d.shne.us/14n">Learn more</a>
  <hr>

  <h4 id="shannon-beveridge" style="margin-top:40px;">Shannon Beveridge</h4>
  <div>Seize the Awkward Ambassador</div>
  <a href="http://d.shne.us/15j">Learn more</a>
  <hr>

  <h4 id="orion-carloto" style="margin-top:40px;">Orion Carloto</h4>
  <div>Seize the Awkward Ambassador</div>
  <a href="http://d.shne.us/15j">Learn more</a>
  <hr>

</div>