<div class="squad-page">


<div class="banner-container"><img src="/images/shine-squad-banner.png"/></div>

<section>
  <p>We started Shine to empower people to be their best selves at work and in life (and everything in between - we know how it is). We know we all need a little help to get through the day, and we're honored to play a positive role to help you get there.</p>
  <p>As a Shine Squad member you're part of that big picture mission - you'll help spread the love by sharing Shine with friends, connecting with us (the co-founders, heyyyy) for major initiatives, give valuable feedback, and ultimately help spread Shine to as many people as possible to make their day brighter.</p>
</section>

<div class="invite-friends">
  <h1>Invite Friends Now</h1>
  <div class="phone-input-container">
    <div class="form-field">
      <input class="form-control" name="phone" id="form-phone-number" type="tel" value="">
      <label for="form-phone-number">Phone Number</label>
    </div>
    <button>Get My Code</button>
  </div>
</div>

<ul class="squad-perks">
  <h2>What you get</h2>

  <li>
    <div class="label-container">
      <h4>1st Access to Shine Updates</h4>
    </div>
    <div class="perk-image -p1"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>S to the W to the A to the G</h4>
    </div>
    <div class="perk-image -p2"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>Chat with Shine Founders</h4>
    </div>
    <div class="perk-image -p3"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>Shoutouts on Social Media</h4>
    </div>
    <div class="perk-image -p4"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>Community Wine & Shine Nights</h4>
    </div>
    <div class="perk-image -p5"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>Engage with Squad Members</h4>
    </div>
    <div class="perk-image -p6"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
</ul>

<section>
  <h2>How do I get involved?</h2>
  <p>Super easy! All you have to do is successfully refer 10 friends with your personal referral code! Once they've joined Shine, you can expect an exclusive invite in your inbox :) and access to our private Facebook group.</p>
</section>

<section>
  <h2>Get started now</h2>
  <div class="phone-input-container">
    <div class="form-field">
      <input class="form-control" name="phone" id="form-phone-number" type="tel" value="">
      <label for="form-phone-number">Phone Number</label>
    </div>
    <button>Get My Code</button>
  </div>
</section>

</div>