<div class="squad-page">


  <div class="banner-container">
    <img src="/images/shine-squad-banner.png" />
  </div>

  <section>
    <p>What’s the Shine Squad?</p>
    <p>The Shine Squad is our brand ambassador community. It’s a supportive, global, *judgment-free* group of people, helping each other through life’s highs, lows, and confusing “mehs” across work, relationships, mental health, and beyond. It’s the sounding board you never knew you needed.</p>
    <p>Squad members not only get a chance to connect with some *incredible* Shine-minded humans all over the world (both online and IRL!), but also get to influence and inspire our products. And they score Shine swag. Always swag. </p>

    <p>
      <strong>What would I get? </strong>
    </p>
    <ul>
      <li>An exclusive invitation to our private Shine Squad Facebook group, where you’ll get advice and support from an encouraging global community. </li>
      <li>A monthly newsletter from our founders with job opportunities, events, articles, and resources to help you live your big life. </li>
      <li>Access to Shine HQ. You’ll be the first to know about brand, product, and content updates and get a chance to go behind the scenes with our co-founders. </li>
      <li> Swag on swag on swag. Did we mention 
        <a href="https://www.shinetext.com/swag"> 
        swag 
      </a>? 
      </li>
    </ul>

    <p>
      <strong>What does one *do* once they’re in the Squad? </strong>
    </p>
    <ul>
      <li>Hang out with other Squad members digitally (private Facebook group) and IRL at our local events. </li>
      <li>Give product and community feedback to Shine and influence the direction of our brand (for real). </li>
      <li>Spread the Shine &#60;3 with your friends, family, classmates, coworkers, that person who’s Netflix password you “borrowed” 3 years ago—and share Shine using 
        <a href="https://www.shinetext.com/referrals">
        your unique link.
        </a>
      </li>
    </ul>
    <p><strong>Is this right for me? </strong>
    </p>
    <ul>
      <li>You’re all about making self-care easier for you, your friends, and your community. </li>
      <li>You love surrounding yourself with authentic, accepting, I-got-your-back people. </li>
      <li>You love swag. (if you don’t, are you even human?) </li>
    </ul>
    <p><strong>I’m in! How do I start? </strong></p>
    <p> Use your unique link to refer 5 friends to Shine. Find your link <a href= "https://www.shinetext.com/referrals">here </a> and #getyourshineon.</p>
   
    <p>Need a few ideas to help you refer friends?
      <a href="<%= adviceBaseUrl %>/articles/14-no-fail-tips-to-help-you-refer-friends-and-join-the-shine-squad/?utm_source=Shine&utm_medium=SquadPage"
        target="_blank" ga-on="click">
        We got you
      </a>.
    </p>
    <p>Email <a href="mailto: vip@shinetext.com"> vip@shinetext.com</a> to ask any questions or get more info. </p>
  
  </section>

  <div class="invite-friends">
    <h1>Get Your Referral Link</h1>
    <div class="phone-input-container">
      <div class="form-field">
        <input class="form-control get-referral-phone" name="get-referral-phone-1" id="get-referral-phone-1" data-for="get-referral-phone-1"
          data-error="invalid-number-error-1" type="tel" value="">
        <label for="get-referral-phone-1">Phone Number</label>
      </div>
      <button class="get-referral-info-btn" data-for="get-referral-phone-1" data-error="invalid-number-error-1">Get Link</button>
    </div>
    <div class="phone-validation-error" id="invalid-number-error-1">Please enter a valid cell phone number.</div>
  </div>

  <ul class="squad-perks">
    <h2>Shine Squad Exclusives</h2>

    <li>
      <div class="label-container">
        <h4>1st Access to Shine Updates</h4>
      </div>
      <div class="perk-image -p1"></div>
      <p>As a VIP you'll get a first look at new features before they even come out and a huge say in what will end up in the
        final product.</p>
    </li>
    <li>
      <div class="label-container">
        <h4>Swag</h4>
      </div>
      <div class="perk-image -p2"></div>
      <p>If you live for tees, journals, water bottles and sweatshirts—we got you.
        <a href="/referrals">Get Shine swag</a> based on how many friends you refer.</p>
    </li>
    <li>
      <div class="label-container">
        <h4>Chat with the Shine Founders</h4>
      </div>
      <div class="perk-image -p3"></div>
      <p>Get facetime with the founders and tell them about what you want to see more of.</p>
    </li>
    <li>
      <div class="label-container">
        <h4>Shoutouts on Social Media</h4>
      </div>
      <div class="perk-image -p4"></div>
      <p>Get love on our Facebook and Instagram for being awesome.</p>
    </li>
    <li>
      <div class="label-container">
        <h4>Local Shine & Wine Events</h4>
      </div>
      <div class="perk-image -p5"></div>
      <p>Meet up with other Shine members in your community who are doing big things like you.</p>
    </li>
    <li>
      <div class="label-container">
        <h4>A Community of Your Biggest Fans</h4>
      </div>
      <div class="perk-image -p6"></div>
      <p>Get advice. Network. And lean on a group of the coolest, kindest people who will be there for whatever you need.</p>
    </li>
  </ul>

</div>
