<div class="squad-page">


<div class="banner-container"><img src="/images/shine-squad-banner.png"/></div>

<section>
  <p>At Shine, we're honored to play a part in helping you slay your day - but there's no substitute for real people who can make you feel *real* special when you need it.</p>
  <p>As a Shine Squad member, you have access to an exclusive community of go-getters who will do just that. Shine Squad members help each other with jobs, advice, passion projects, recognition and a bunch of other stuff you'll only know about if you JOIN.</p>
  <p>Just refer a few friends and come on over.</p>
</section>

<div class="invite-friends">
  <h1>Invite Friends Now</h1>
  <div class="phone-input-container">
    <div class="form-field">
      <input class="form-control get-referral-phone"
        name="get-referral-phone-1"
        id="get-referral-phone-1"
        data-for="get-referral-phone-1"
        data-error="invalid-number-error-1"
        type="tel"
        value="">
      <label for="get-referral-phone-1">Phone Number</label>
    </div>
    <button class="get-referral-info-btn"
      data-for="get-referral-phone-1"
      data-error="invalid-number-error-1">Get My Code</button>
  </div>
  <div class="phone-validation-error" id="invalid-number-error-1">Please enter a valid cell phone number.</div>
</div>

<ul class="squad-perks">
  <h2>What you get</h2>

  <li>
    <div class="label-container">
      <h4>1st Access to Shine Updates</h4>
    </div>
    <div class="perk-image -p1"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>Swag</h4>
    </div>
    <div class="perk-image -p2"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>Chat with the Shine Founders</h4>
    </div>
    <div class="perk-image -p3"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>Shoutouts on Social Media</h4>
    </div>
    <div class="perk-image -p4"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>Local Shine & Wine Events</h4>
    </div>
    <div class="perk-image -p5"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
  <li>
    <div class="label-container">
      <h4>A Community of Your Biggest Fans</h4>
    </div>
    <div class="perk-image -p6"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend sapien est, id feugiat tellus blandit vel.</p>
  </li>
</ul>

<section>
  <h2>How do I get involved?</h2>
  <p>Super easy! All you have to do is successfully refer 10 friends with your personal referral code! Once they've joined Shine, you can expect an exclusive invite in your inbox :) and access to our private Facebook group.</p>
</section>

<section>
  <h2>Get started now</h2>
  <div class="phone-input-container">
    <div class="form-field">
      <input class="form-control get-referral-phone"
        name="get-referral-phone-2"
        id="get-referral-phone-2"
        data-for="get-referral-phone-2"
        data-error="invalid-number-error-2"
        type="tel"
        value="">
      <label for="get-referral-phone-2">Phone Number</label>
    </div>
    <button class="get-referral-info-btn alternate"
      data-for="get-referral-phone-2"
      data-error="invalid-number-error-2">Get My Code</button>
  </div>
  <div class="phone-validation-error" id="invalid-number-error-2">Please enter a valid cell phone number.</div>
</section>

</div>