/**
 * Font mixins and variables.
 */

.font-merriweather() {
  font-family: 'Merriweather Sans';
  font-weight: 400;
}

.font-merriweather-bold() {
  font-family: 'Merriweather Sans';
  font-weight: 700;
}

.font-merriweather-extrabold() {
  font-family: 'Merriweather Sans';
  font-weight: 800;
}

.font-karla() {
  font-family: 'Karla';
  font-weight: 400;
}

.font-karla-bold() {
  font-family: 'Karla';
  font-weight: 700;
}

@font-size-header: 36px;
@font-size-title: 30px;
@font-size-subtitle: 24px;
@font-size-normal: 18px;
@font-size-btn: 18px;
@font-size-input: 24px;
@font-size-label: 14px;
@font-size-label-sm: 11px;