@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: 'Glacial Indifference';
  font-weight: bold;
  src: url('/fonts/GlacialIndifference-Bold.otf');
}

@font-face {
  font-family: 'Work Sans Regular';
  src: url('/fonts/WorkSans-Regular.ttf');
}
@font-face {
  font-family: 'Work Sans Light';
  src: url('/fonts/WorkSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Work Sans Medium';
  src: url('/fonts/WorkSans-Medium.ttf');
}

@font-face {
  font-family: 'Work Sans Semi Bold';
  src: url('/fonts/WorkSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Regular.otf');
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Pangram';
  font-weight: 700;
  src: url('/fonts/Pangram-Bold.otf');
}

/**
 * Font mixins and variables.
 */

.font-caveat() {
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
}

.font-Poppins() {
  font-family: 'Poppins';
  font-weight: 700;
}

.font-Poppins-Regular() {
  font-family: 'Poppins-Regular';
  font-weight: 400;
}

.font-main() {
  font-family: 'Pangram';
  font-weight: 400;
}

.font-main-bold() {
  font-family: 'Pangram';
  font-weight: 700;
}

.font-blockquote() {
  font-family: 'Glacial Indifference';
  font-weight: 700;
}

.font-section-title() {
  font-family: 'Glacial Indifference';
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 1.33px;
}

.font-open-sans-regular() {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
}

.font-open-sans-bold() {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
}

.font-work-sans-regular() {
  font-family: 'Work Sans Regular';
  font-weight: 400;
}

.font-work-sans-light() {
  font-family: 'Work Sans Light';
  font-weight: 300;
}

.font-work-sans-semi() {
  font-family: 'Work Sans Semi Bold';
  font-weight: 600;
}

.font-work-sans-medium() {
  font-family: 'Work Sans Medium';
  font-weight: 500;
}

.font-section-subtitle() {
  font-family: 'Glacial Indifference';
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1.33px;
}

@font-size-xl: 86px;
@font-size-header: 42px;
@font-size-header-xs: 32px;
@font-size-subtitle: 20px;
@font-size-normal: 16px;
@font-size-btn: 18px;
@font-size-input: 24px;
@font-size-label: 14px;
@font-size-label-sm: 10px;
@font-size-sm: 14px;

@font-size-advice-home-subtitle: 36px;
@font-size-advice-home-subtitle-sm: 32px;

@font-size-article-title: 54px;
@font-size-article-ol: 48px;
@font-size-article-section-title: 36px;
@font-size-article-body: 18px;
@font-size-article-blockquote: 32px;
@font-size-article-blockquote-xs: 24px;
@font-size-article-preview-category: 18px;
@font-size-article-preview-title: 16px;
@font-size-article-preview-author: 16px;
@font-size-author-bio: 20px;
@font-size-author-name: 24px;

@font-size-featured-title: 34px;
@font-size-featured-title-md: 30px;
@font-size-featured-title-sm: 26px;
@font-size-featured-subtitle-sm: 22px;
@font-size-featured-title-xs: 22px;
@font-size-featured-subtitle-xs: 20px;
@font-size-featured-normal-xs: 16px;

@font-size-homepage-normal: 24px;
@font-size-homepage-normal-xs: 20px;
@font-size-homepage-product-description: 20px;
@font-size-homepage-testimonial-credit: 20px;
