body {
  .font-primary;
}

footer {
  background-color: @color-footer;
  padding: @margin-md 0;
  text-align: center;
}

footer .social-icons a {
  text-decoration: none;
}

footer .social-icons img {
  height: 74px;
  width: 74px;
  padding: 16px;
}

footer .subpages-container {
  padding: @margin-sm;
}

footer .subpages-container a {
  color: black;
  margin: 0 @margin-sm;
  text-decoration: none;
}

footer .subpages-container a:first-child {
  margin-left: 0;
}

footer .subpages-container a:last-child {
  margin-right: 0;
}

.btn {
  .font-karla-bold;

  background-color: black;
  color: white;
  font-size: @font-size-btn;
  margin-bottom: @margin-sm;
  margin-top: @margin-sm;
  padding: 15px;
  text-transform: uppercase;
  width: 100%;
}

.btn:focus,
.btn:hover {
  color: white;
}

.ctia {
  .font-karla;

  color: @color-form-secondary;
  font-size: @font-size-label-sm;
}

.form-control {
  .font-karla;

  border: none;
  border-radius: 0;
  color: @color-form-primary;
  height: 60px;
  padding: 20px 10px 0px 10px;
  box-shadow: none;
  font-size: @font-size-input;
}

.form-control + label {
  .font-karla-bold;

  color: @color-form-secondary;
  position: absolute;
  font-size: @font-size-label-sm;
  top: 5px;
  left: 10px;
  margin: 0;
  text-transform: uppercase;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.form-control[value=""] + label {
  color: @color-form-primary;
  font-size: @font-size-label;
  top: 20px;
}

.form-control:focus + label {
  color: @color-form-secondary!important;
  font-size: @font-size-label-sm!important;
  top: 5px!important;
}

.form-field {
  border: 2px solid @color-primary;
  margin: @margin-sm 0;
  position: relative;
}

.form-field label:hover {
  cursor: text;
}

.home-icon {
  width: 100%;
}

.home-icon-container {
  margin-left: @margin-sm;
  margin-top: @margin-sm;
  width: 120px;
}

.topline {
  border-top: 5px solid @color-primary;
}

/**
 * Styles for the send-gifs checkbox.
 */
input[type="checkbox"] {
    display:none;
}

label.send-gifs-label {
  .font-karla-bold;

  color: @color-form-primary;
  cursor: pointer;
  font-size: @font-size-normal;
  margin-bottom: 0;
  padding-left: 40px;
  position: relative;
  text-transform: uppercase;
}

label.send-gifs-label:before, label.send-gifs-label:after {
  font-family: FontAwesome;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: -8px;
}

label.send-gifs-label:before {
  content: '\f096';
  color: @color-primary;
}

label.send-gifs-label:after {
  content: '\f00c';
  max-width: 0;
  overflow: visible;
  font-size: 28px;
  top: -10px;
  color: black;
  opacity: 0;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

input[type="checkbox"]:checked + label.send-gifs-label:after {
  opacity: 1;
}