@color-yellow: #ffc600;

@font-size-title: 26px;
@font-size-subtitle: 22px;
@font-size-normal: 18px;
@font-size-btn: 22px;

@margin-md: 40px;
@margin-sm: @margin-md / 2;
@margin-lg: @margin-md * 2;

body {
  font-family: 'Hind', sans-serif;
  font-size: @font-size-normal;
}

footer {
  background-color: #222;
  padding: @margin-md 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

header {
  background-color: yellow;
  background-image: url('../images/test-header.jpg');
  background-position: 50% 10%;
  background-size: cover;
  padding-bottom: @margin-lg;
}

.header-form {
  margin: @margin-md 0;
}

.header-form .btn {
  background-color: @color-yellow;
  border-radius: 12px;
  font-family: 'Oswald';
  font-size: @font-size-btn;
  margin-bottom: @margin-sm;
  margin-top: @margin-sm;
  padding: 10px;
}

.header-form .form-control {
  background-color: transparent;
  border-color: black;
  border-radius: 0;
  border-width: 0 0 1px 0;
  box-shadow: none;
  color: #333;
  font-size: @font-size-normal;
  margin: @margin-sm 0;
}

.header-logo {
  margin-bottom: @margin-md;
  margin-top: @margin-md;
}

.header-tagline {
  color: white;
  font-size: @font-size-subtitle;
  text-align: center;
}

.home-icon {
  height: 40px;
  margin-left: @margin-sm;
  margin-top: @margin-sm;
}

.how-does-it-work {
  background-image: url('http://img.csfd.cz/files/images/user/profile/160/046/160046376_024774.png');
  background-image: url('http://img.csfd.cz/files/images/user/profile/160/046/160046376_024774.png'), linear-gradient(#fff, #fbfbbf);
  margin-top: @margin-lg;
  text-align: center;
}

.how-does-it-work h1 {
  margin-bottom: @margin-md;
}

.how-does-it-work p {
  font-size: @font-size-subtitle;
  margin-bottom: @margin-sm;
}

.in-the-news {
  margin-top: @margin-sm;
}

.in-the-news img {
  max-height: 80px;
  max-width: 100%;
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-property: opacity, -webkit-filter, filter;
  transition-duration: 0.25s;
}

.in-the-news img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.news-item {
  margin: 20px 0;
  text-align: center;
}

.social-icons a {
  text-decoration: none;
}

.social-icons img {
  height: 74px;
  width: 74px;
  padding: 16px;
}

.subpage {
  padding: @margin-md 0;
}

.subpage h1 {
  text-align: center;
  padding-bottom: @margin-md;
}

.subpage h3 {
  padding: @margin-sm 0;
}

.subpages-container {
  padding: @margin-sm 0;
}

.subpages-container a {
  color: white;
  margin: 0 @margin-sm;
  text-decoration: none;
}