.header {
  text-align: center;

  h1 {
    .font-section-title;

    font-size: @font-size-header;
    margin-bottom: @margin-sm;
    margin-top: @margin-lg;
  }

  img {
    max-width: 100%;
  }
}

.content {
  font-size: @font-size-normal;
  padding: @margin-md 0;
  text-align: center;

  h2 {
    .font-main-bold;
    font-size: 20px;
  }

  section {
    padding: 20px 10px;
  }

  .phone-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button {
      background-color: black;
      border: none;
      color: white;
      font-size: @font-size-normal;
      height: 64px;
      letter-spacing: 1.5px;
      margin: @margin-sm;
      padding: @margin-sm;
      text-transform: uppercase;
    }

    label {
      text-transform: capitalize;
    }

    .form-field {
      max-width: 250px;
    }

    @media (max-width: 420px) {
      button {
        padding: 10px;
      }
    }
  }

  .phone-validation-error {
    color: pink;
    display: none;
    text-align: center;
  }

  .referral-container {
    margin-top: @margin-md;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;

    .referral-link-container {
      display: flex;

      #referral-link-url {
        font-size: 14px;
        min-width: 210px;
        height: 60px;
      }

      button {
        background-color: black;
        border: none;
        color: white;
        font-size: 14px;
        height: 60px;
        letter-spacing: 1.5px;
        padding: 10px;
        text-transform: uppercase;
        width: 130px;
      }

      input {
        flex-grow: 1;
        height: 55px;
      }
    }
  }

  .social-share-icons {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    label {
      color: black;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }

    li {
      list-style: none;
      margin: 0 @margin-sm;
      text-align: center;
    }

    .icon {
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      margin: 10px auto;
      cursor: pointer;
      height: 50px;
      width: 50px;
    }

    .icon:hover {
      filter: brightness(110%);
    }

    .email {
      background-image: url("../images/social/ic-share-email.png");
    }

    .facebook {
      background-image: url("../images/social/ic-share-facebook.png");
    }

    .sms {
      background-image: url("../images/social/ic-share-sms.png");
    }

    .twitter {
      background-image: url("../images/social/ic-share-twitter.png");
    }

    @media (max-width: 400px) {
      li {
        margin: 0 10px;
      }
    }
  }
}