.header {
  text-align: center;

  h1 {
    .font-section-title;

    font-size: @font-size-header;
    margin-bottom: @margin-sm;
    margin-top: @margin-lg;
  }

  img {
    max-width: 100%;
  }
}

.content {
  font-size: @font-size-normal;
  padding: @margin-md 0;
  text-align: center;

  p {
    color: @color-form-primary;
  }

  .referral-container {
    border-top: 1px dotted @color-form-primary;
    margin-top: @margin-md;
    padding-top: @margin-md;
  }
}