.header {
  text-align: center;

  h1 {
    .font-primary-bold;

    font-size: @font-size-header;
    margin-bottom: @margin-sm;
  }
}

.content {
  padding: @margin-md 0;

  h3 {
    text-align: center;
  }

  p {
    .font-primary;

    color: @color-form-primary;
    font-size: @font-size-normal;
    text-align: center;
  }

  .referral-container {
    border-top: 1px dotted @color-form-primary;
    margin-top: @margin-md;
    padding-top: @margin-md;
  }
}