/** Styles for error pages **/

.header-container {
  background-color: @color-footer;
  background-size: cover;
}

.error-img-404 {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url('../images/error/404-maru.gif');
}

.error-img-500 {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url('../images/error/500-maru.gif');
}

.header-image {
  max-width: 100%;
}

.header-container h1 {
  .font-section-title;

  color: @color-yellow;
  margin: @margin-md * 4 0;
  text-align: center;
}

.content-error {
  background-color: white;
  color: black;
  font-size: @font-size-normal;
  padding: @margin-md * 4 0;
  text-align: center;
}

.content {
  margin-top: @margin-sm;
  margin-bottom: @margin-sm;
}