font-size: @font-size-homepage-normal;

h2 {
  .font-section-title;
}

.bg-yellow {
  background-color: @color-yellow;
}

.example-img-1 {
  max-height: 910px;
  max-width: 436px;
  min-height: 565px;
  min-width: 270px;
  width: 100%;
}

.example-img-container {
  position: absolute;
}

@media (max-width: @screen-xs-max) {
  .example-img-container {
    margin-bottom: @margin-sm;
    position: relative;
    text-align: center;
  }
}

.form-container {
  left: -@margin-md;
  padding-bottom: @margin-lg;
}

@media (max-width: @screen-sm-max) {
  .form-container {
    left: -@margin-sm;
  }
}

@media (max-width: @screen-xs-max) {
  .form-container {
    left: 0;
    padding-bottom: @margin-sm;
  }

  .form-image-container {
    position: relative;
  }

  .form-image-container .img-1-xs-bg {
    background-color: @color-yellow;
    height: 30%;
    position: absolute;
    top: 70%;
    width: 100%;
  }
}

.form-title {
  .font-section-title;

  font-size: @font-size-subtitle;
  margin-bottom: @margin-xs;
  text-align: center;
  text-transform: uppercase;
}

.how-shine-works {
  padding-top: @margin-lg;
  padding-bottom: @margin-lg;

  h2 {
    .font-section-title;

    color: @color-form-input;
    margin-bottom: @margin-lg;
    text-align: center;
  }

  img {
    margin-bottom: @margin-md;
    max-height: 200px;
  }

  .-item {
    .font-section-title;

    font-size: 22px;
    list-style: none;
    padding: @margin-md;
    text-align: center;
  }

  @media (max-width: @screen-xs-max) {
    h2 {
      font-size: @font-size-header;
      margin-bottom: @margin-sm;
    }
  }
}

.in-the-news {
  margin-top: @margin-sm;
}

.in-the-news img {
  max-height: 80px;
  max-width: 100%;
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition-property: opacity, -webkit-filter, filter;
  transition-duration: 0.25s;
}

.in-the-news img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.news-item {
  margin: 20px 0;
  padding: 0 6px;
  text-align: center;
}

@media (max-width: @screen-md-min) {
  .news-item {
    padding: 0 10px;
  }
}

@media (max-width: @screen-sm-min) {
  .news-item {
    padding: 0 20px;
  }
}

.tagline {
  .font-section-title;

  font-size: @font-size-header;
  margin: @margin-md 0;
  text-align: center;
}

/**
 * Testimonial section
 */
.testimonial-container {
  background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url('../images/homepage/testimonial-test-background.png');
  background-position: center;
  background-size: cover;
  padding-bottom: @margin-lg;
  padding-top: @margin-lg;

  .testimonial {
    margin-bottom: @margin-sm;
    text-align: center;

    p {
      .font-karla-bold;

      color: white;
      padding: @margin-md @margin-sm;
    }

    .divider {
      border-top: 4px solid @color-yellow;
      margin: auto;
      width: 100px;
    }

    .testimonial-name {
      .font-karla;

      font-size: @font-size-homepage-testimonial-credit;
      text-transform: uppercase;
    }

    .quote-left {
      position: absolute;
      top: 0;
      left: -20px;
    }

    .quote-right {
      position: absolute;
      bottom: 0;
      right: -20px;
    }

    @media (max-width: @screen-xs-max) {
      .quote-left {
        left: 0;
      }

      .quote-right {
        right: 0;
      }
    }
  }
}