font-size: @font-size-homepage-normal;

/**
 * Top section of the homepage
 */
.container-homepage-lead {
  @container-homepage-lead-height: 773px;

  padding: 0;
  position: relative;

  .col-md-7 {
    background-image: url('/images/homepage/header-background-web.jpg');
    background-size: cover;

    @media (max-width: @screen-sm-max) {
      background-image: url('/images/homepage/Section1-mobile.jpg');
      background-size: cover;
    }
  }
  .container-signup {
    height: @container-homepage-lead-height;
    padding-bottom: 80px;
    padding-top: 30px;

    h2 {
      .font-Poppins;
      font-size: (@font-size-header - 6);
      color: #333;
      margin: 0px auto 30px auto;
      line-height: 54px;
      letter-spacing: 1px;
      text-align: center;
      width: 598px;
    }
    .signup-download-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0px 0px 50px 0px;
    }
    .signup-download-button-img {
      width: 100%;
      align-self: center;
    }

    .signup-download-button-link {
      max-width: 185px;
      align-self: center;
    }

    .form-container {
      width: 496px;
      height: 440px;
      background-color: white;
      margin: auto;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 15px 50px rgba(226, 160, 37, 0.5);

      form {
        padding-top: 20px;
        .form-field {
          border-top: none;
          border-left: none;
          border-right: none;

          .required-asterisk {
            color: @color-black;
            font-size: @font-size-subtitle;
            position: absolute;
            top: 18px;
            right: 20px;
          }
        }

        .form-control {
          .font-open-sans-regular;
          color: @color-black;
          font-size: @font-size-input;
          height: 60px;
        }
        .form-control + label {
          color: @color-black;
          .font-open-sans-regular;
        }

        .form-control[value=''] + label {
          color: @color-black;
          font-size: @font-size-label;
          top: 20px;
        }

        .form-control:focus + label {
          color: @color-black !important;
          font-size: @font-size-label-sm!important;
          top: 5px !important;
        }
      }
      .btn {
        .font-open-sans-bold;
      }
    }
    .ctia {
      text-align: center;
      .font-open-sans-regular;
      margin: auto;
      padding-top: @margin-xs;
      padding-bottom: @margin-sm;
      font-size: 10px;
      color: rgb(141, 141, 141);
      line-height: 14px;
    }

    form,
    .ctia {
      width: 80%;
      max-width: 400px;
    }

    @media (max-width: @screen-md-max) {
      padding-top: 20px;

      h2 {
        width: 80%;
      }
    }

    @media (max-width: @screen-sm-max) {
      height: 100%;
      padding-bottom: @margin-md 0;
      padding-top: 60px;
    }

    @media (max-width: @screen-xs-max) {
      h2 {
        font-size: (@font-size-header-xs);
        margin-top: 0px;
      }

      form,
      .ctia,
      .form-container {
        width: 95%;
      }
      .ctia,
      form {
        padding: @margin-sm;
        padding-top: 0px;
      }
    }
  }

  .homepage-header-image {
    background-image: url('../images/homepage/homepage_photo_1.jpg');
    background-position: top;
    background-size: cover;
    height: @container-homepage-lead-height;

    @media (max-width: @screen-sm-max) {
      height: 400px;
    }
  }
}

/**
 * "How Shine Works" section
 */
.how-shine-works {
  background-color: rgb(255, 200, 0);
  border-top: 4px solid black;
  padding: 0;
  position: relative;
  display: flex;

  @media (max-width: @screen-sm-max) {
    flex-direction: column;
  }

  .product-image {
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    img {
      max-width: 293px;
      align-self: center;
    }

    @media (max-width: @screen-sm-max) {
      height: 720px;
      img {
        top: @margin-md;
      }
    }
  }

  .product-description {
    background: white;
    height: 100%;
    padding: @margin-lg @margin-md @margin-md @margin-md;

    ol {
      width: 85%;
      margin: auto;
    }

    li {
      .font-Poppins;

      font-size: 48px;
      margin: @margin-md auto;

      p {
        .font-open-sans-regular;

        border-left: 4px solid @color-yellow;
        display: inline-block;
        font-size: @font-size-homepage-product-description;
        margin-left: @margin-sm;
        padding-left: @margin-sm;
        vertical-align: top;
      }
    }

    @media (max-width: @screen-md-max) {
      height: 100%;
      ol {
        width: 100%;
      }
    }

    @media (max-width: @screen-sm-max) {
      height: 100%;
    }

    @media (max-width: @screen-xs-max) {
      height: 100%;
      ol {
        list-style: none;
        padding-left: 0;
      }
    }
  }

  h2 {
    .font-Poppins;
    color: @color-black;
    margin-bottom: @margin-lg;
    text-align: center;

    @media (max-width: @screen-sm-max) {
      margin-bottom: @margin-md;
    }
  }

  .border {
    border-top: 1px solid #aaa;
    width: 84%;
    margin: auto;
    margin-top: 7%;

    @media (max-width: @screen-xs-max) {
      width: 90%;
      margin-top: 10%;
    }
  }

  .in-the-news {
    margin-top: @margin-md;
    margin-bottom: @margin-xs;
    padding-left: 50px;
    padding-right: 50px;

    img {
      max-height: 40px;
      max-width: 100%;
      opacity: 0.7;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition-property: opacity, -webkit-filter, filter;
      transition-duration: 0.25s;

      @media (max-width: @screen-xs-max) {
        max-height: 35px;
      }
    }

    img:hover {
      opacity: 1;
      cursor: pointer;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }

    .row {
      margin: auto;
      margin-left: 15px;
    }

    .news-item {
      margin: 10px 0;
      padding: 0 6px;
      text-align: center;

      .time-logo {
        max-height: 25px;
      }

      .hello-giggles-logo {
        max-height: 60px;
        margin-top: -8px;
        margin-left: 20px;

        @media (max-width: @screen-xs-max) {
          margin-left: -40px;
          max-width: 200px;
        }
      }

      .pop-sugar-logo {
        max-height: 20px;
        @media (min-width: @screen-lg-min) {
          max-width: 190px;
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      margin-top: @margin-xs;
    }
  }
}

/**
 * App section
 */
.app-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-image: url('/images/homepage/Section3-waveonly.jpg');
  background-size: cover;
  background-position: bottom;
  padding-left: 0px;
  padding-right: 0px;

  .app-section-circle {
    position: absolute;
    height: 300px;
    width: 300px;
    right: 0px;
    z-index: -1;
  }

  .app-section-oval {
    height: 550px;
    width: 250px;
    transform: rotate(23deg);
    position: absolute;
    left: -20px;
    z-index: -1;
    top: 15%;
  }
  .card-container {
    margin-top: 180px;
    margin-bottom: 165px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .card {
      border-radius: 14px;
      background-color: white;
      margin: @margin-sm;
      text-align: center;
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      width: 380px;
      height: 280px;
      .font-Poppins;
      box-shadow: 0px 15px 50px rgba(226, 160, 37, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      .quote {
        .font-Poppins-Regular;
        font-size: 16px;
      }
      .line {
        width: 40%;
        margin: @margin-sm auto;
        height: 5px;
        background-color: @color-yellow;
      }
      .author {
        text-transform: uppercase;
        padding-bottom: @margin-xs;
        font-size: 13px;
      }
    }
    @media (max-width: @screen-sm-min) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: auto;
      .card {
        overflow: hidden;
        margin-left: 0px;
        flex: 0 0 auto;
        width: 320px;
        box-shadow: 10px 5px 13px rgba(226, 160, 37, 0.5);
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .info {
      display: flex;
      flex-direction: column;
      text-align: Left;
      align-self: baseline;
      width: 421px;
      color: black;
      h2 {
        .font-Poppins;
      }
      p {
        .font-open-sans-regular;
        font-size: 14px;
        line-height: 20px;
        padding-top: @margin-sm;
        padding-bottom: @margin-sm;
      }
      .download-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 249.1px;
        height: 108.7px;
        margin-top: 10px;
      }
      .download-button-img {
        width: 221.1px;
        height: 71.7px;
      }
      .download-button-link {
        max-width: 221.1px;
      }
      .download-android-link {
        max-width: 180px;
        max-height: 20px;
      }
      .download-android-text {
        font-family: 'Work Sans Regular';
        font-weight: 400;
        font-size: 14px;
        color: black;
        text-align: left;
        line-height: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        text-decoration: underline;
      }
      .download-android-text:hover {
        color: #8d8d8d;
      }
      .download-android-img {
        height: 18px;
        width: auto;
        padding-left: 5px;
        margin-bottom: 4px;
      }
    }
    .app-image-container {
      width: 25%;
      height: 100%;
      display: flex;
      padding-bottom: 5%;
    }
    .app-image {
      width: auto;
      height: auto;
    }

    @media (max-width: @screen-sm-min) {
      display: flex;
      flex-direction: column;

      .app-image-container {
        width: 95%;
        margin-top: @margin-lg;
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
        padding-bottom: 5%;
      }
      .app-image {
        width: auto;
        height: auto;
      }
      .info {
        width: 85%;
        align-self: center;
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    background-image: url('/images/homepage/Section3-background-mobile.jpg');
    background-size: cover;
    .app-section-circle,
    .app-section-oval {
      display: none;
    }
  }
}

.section-arrow {
  background-image: url('../images/homepage/Black-Arrow-web.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 100%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  z-index: 1;
}
