font-size: @font-size-homepage-normal;

/**
 * Top section of the homepage
 */
.container-homepage-lead {
  @container-homepage-lead-height: 960px;

  background-image: linear-gradient(120deg, @color-gradient-blue, @color-gradient-yellow);
  padding: 0;
  position: relative;

  .container-signup {
    height: @container-homepage-lead-height;
    padding-bottom: @margin-lg;
    padding-top: @margin-sm;

    h2 {
      color: white;
      font-size: @font-size-header;
      margin: @margin-md auto @margin-sm auto;
      text-align: center;
      width: 60%;
    }

    form {
      margin: auto;

      /* Overrides form styles from shine.less */
      .form-field {
        border: 2px solid white;

        label,
        .required-asterisk {
          color: black;
        }

        .form-control {
          color: black;
          background-color: rgba(255, 255, 255, 0.5);
        }

        .form-control:focus + label {
          color: #6F6488!important;
        }
      }
    }

    .ctia {
      color: white;
      margin: auto;
      padding-top: @margin-xs;
    }

    .fbmessenger {
      border-top: 1px solid white;
      margin: auto;
      margin-top: @margin-md;
      padding-top: @margin-md;

      .btn {
        background-color: rgba(0,0,0,0);
        border: 2px solid white;
        color: white;
      }

      .btn:hover {
        background-color: @color-fbmessenger;
      }

      .description {
        color: white;
        font-size: 12px;
        text-align: center;
      }

      .fbmessenger-icon {
        background-image: url('../images/fbmessenger-icon.png');
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        margin-right: 6px;
        position: relative;
        top: 6px;
        height: 25px;
        width: 25px;
      }

      @media (max-width: @screen-sm-max) {
        .btn {
          background-color: @color-fbmessenger;
        }
      }
    }

    form,
    .ctia,
    .fbmessenger {
      width: 50%;
      max-width: 400px
    }


    @media (max-width: @screen-md-max) {
      h2 {
        width: 80%;
      }
    }

    @media (max-width: @screen-sm-max) {
      height: 100%;
      padding-bottom: @margin-md 0;
    }

    @media (max-width: @screen-xs-max) {
      h2 {
        font-size: 32px;
        width: 90%%;
      }

      form,
      .ctia,
      .fbmessenger {
        width: 80%;
      }
    }
  }

  .homepage-header-image {
    position: absolute;
    background-image: url('../images/homepage/homepage_photo_032017.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: @container-homepage-lead-height;
    bottom: 0;
    height: @container-homepage-lead-height;
    right: -100px;
    width: 60%;

    @media (max-width: @screen-md-max) {
      width: 70%;
    }

    @media (max-width: @screen-sm-max) {
      width: 80%;
    }

    @media (max-width: @screen-xs-max) {
      width: 90%;
    }
  }

  .in-the-news {
    margin-bottom: @margin-sm;

    img {
      max-height: 40px;
      max-width: 100%;
      opacity: 0.8;
      -webkit-filter: contrast(0) brightness(200%);
      filter: contrast(0) brightness(200%);
      transition-property: opacity, -webkit-filter, filter;
      transition-duration: 0.25s;
    }

    img:hover {
      opacity: 1;
      cursor: pointer;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }

    .news-item {
      margin: 10px 0;
      padding: 0 6px;
      text-align: center;
    }
  }

}

/**
 * "How Shine Works" section
 */
.how-shine-works {
  background: black;
  border-top: 4px solid black;
  padding: 0;
  position: relative;

  .product-image {
    height: 840px;
    text-align: center;

    img {
      max-width: 75%;
      position: relative;
      top: @margin-md;
    }

    @media (max-width: @screen-md-max) {
      img {
        max-width: 85%;
        top: @margin-sm;
      }
    }

    @media (max-width: 500px) {
      height: 720px;

      img {
        top: @margin-xs;
      }
    }
  }

  .product-description {
    background: white;
    height: 840px;
    padding: @margin-lg @margin-md @margin-md @margin-md;

    ol {
      width: 85%;
      margin: auto;
    }

    li {
      .font-caveat;

      font-size: 48px;
      margin: @margin-md auto;

      p {
        .font-main;

        border-left: 4px solid @color-yellow;
        display: inline-block;
        font-size: @font-size-homepage-product-description;
        margin-left: @margin-sm;
        padding-left: @margin-sm;
        vertical-align: top;
      }
    }

    li:nth-of-type(1) p {
      border-left: 4px solid @color-yellow;
    }

    li:nth-of-type(2) p {
      border-left: 4px solid #9E67CE;
    }

    li:nth-of-type(3) p {
      border-left: 4px solid #0054FF;
    }

    @media (max-width: @screen-lg-min) {
      font-size: @font-size-homepage-normal-xs;
      padding: @margin-lg @margin-sm @margin-sm @margin-sm;
    }

    @media (max-width: @screen-md-max) {
      ol {
        width: 100%;
      }
    }

    @media (max-width: @screen-sm-max) {
      height: 100%;
    }

    @media (max-width: @screen-xs-max) {
      ol {
        list-style: none;
        padding-left: 0;
      }
    }
  }

  h2 {
    .font-section-title;

    color: @color-form-input;
    margin-bottom: @margin-lg;
    text-align: center;

    @media (max-width: @screen-sm-max) {
      margin-bottom: @margin-md;
    }
  }
}

/**
 * Testimonial section
 */
.testimonial-container {
  background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url('../images/homepage/homepage_photo_2.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: @margin-lg;
  padding-top: @margin-lg;
  position: relative;

  .testimonial {
    margin-bottom: @margin-sm;
    text-align: center;

    p {
      color: white;
      padding: @margin-md @margin-sm;
    }

    .divider {
      border-top: 4px solid @color-yellow;
      margin: auto;
      width: 100px;
    }

    .testimonial-name {
      font-size: @font-size-homepage-testimonial-credit;
      text-transform: uppercase;
    }

    .quote-left {
      position: absolute;
      top: 0;
      left: -20px;
    }

    .quote-right {
      position: absolute;
      bottom: 0;
      right: -20px;
    }

    @media (max-width: @screen-xs-max) {
      p {
        font-size: @font-size-homepage-normal-xs;
        padding: @margin-md 0;
      }

      .quote-left {
        left: 0;
      }

      .quote-right {
        right: 0;
      }
    }
  }
}

.section-arrow {
  background-image: url('../images/homepage/homepage-section-arrow.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 100%;
  margin-left: -50px;
  margin-top: -50px;
  position: absolute;
  z-index: 1;
}
