text-align: center;

#btn-save-settings {
  background-color: black;
  border: none;
  color: white;
  display: block;
  font-size: @font-size-btn;
  letter-spacing: 1.5px;
  margin: @margin-md auto;
  padding: 10px;
  text-transform: uppercase;
  width: 300px;
}

#skip-step {
  display: block;
  margin: @margin-md;
}

h1 {
  margin: @margin-md;
  padding: 0;
}