font-size: @font-size-homepage-normal;
@container-splash-lead-height: 847pt;
@container-splash-lead-width: 1280pt;
@container-splash-lead-height-mobi: 667pt;
@container-splash-lead-width-mobi: 375pt;

.container-splash-lead {
  clear: both;
  display: flex;
  padding: 0;
  position: relative;
  .container-splash {
    max-height: @container-splash-lead-height-mobi;
    display: block;
    margin-left: 19px;
    margin-right: 19px;
  }
  // Header
  .splash-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .splash-logo {
      padding-top: 12.5px;
      padding-bottom: 13.5px;
      margin: 0;
    }
    .splash-header {
      padding-bottom: 0;
      margin-bottom: 0!important;
      padding-bottom: 0!important;
      font-size: 21xp;
      line-height: 30px;
    }
    .splash-subtitle {
      font-size: 7px;
    }
  }

  .splash-signup-form {
    form {
      margin: auto;
      padding-top: @margin-xs;
      padding-bottom: @margin-xs;
    }
  }

  .splash-form-control {
    border: none;
    border-radius: 0;
    line-height: 12.5px;
    box-shadow: none;
    font-size: @font-size-input;
  }

  .splash-form-control + label {
    .font-main-bold;

    color: @color-form-secondary;
    pointer-events: none;
    position: absolute;
    font-size: @font-size-label-sm;
    top: 5px;
    left: 10px;
    margin: 0;
    text-transform: uppercase;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
  }

  .splash-form-control[value=''] + label {
    color: #8d8d8d;
    font-size: 20px;
    top: 10px;
  }

  .splash-form-control:focus + label {
    color: #e4a100 !important;
    line-height: 15px;
    font-size: 12px !important;
    top: 5px !important;
  }

  .splash-form-field {
    border-bottom: 2px solid @color-yellow!important;
    margin: @margin-sm 0;
    position: relative;

    label:hover {
      cursor: text;
    }

    .required-asterisk {
      .font-main-bold;
      color: @color-form-primary;
      font-size: @font-size-subtitle;
      position: absolute;
      top: 18px;
      right: 20px;
    }
  }

  @media (max-width: @screen-sm-max) {
    display: block;
    max-height: @container-splash-lead-height-mobi;
  }
}
