h1,
h2 {
  .font-section-title;
}

h3,
h4 {
  .font-section-subtitle;
}

h1 {
  text-align: center;
  padding-bottom: @margin-md;
}

h3 {
  padding: @margin-sm 0;
}

.container {
  font-size: @font-size-normal;
  padding: @margin-md 0;
}
