h1,
h2 {
  .font-section-title;
  padding-bottom: 10px 0;
}

h3 {
  .font-section-subtitle;
  padding-bottom: 10px;
  border-bottom: 2px solid #191919;
}

h4 {
  padding-top: 10px;
  font-size: 24px;
}

h1 {
  text-align: center;
  padding-bottom: @margin-md;
}

.container {
  font-size: @font-size-normal;
  padding: @margin-md 0;
}

p {
  padding-bottom: 10px;
}
