.subpage {
  background-color: @color-offwhite-bg;
}

.subpage h1,
.subpage h2,
.subpage h3,
.subpage h4 {
  .font-merriweather-bold;
}

.subpage h1 {
  text-align: center;
  padding-bottom: @margin-md;
}

.subpage h3 {
  padding: @margin-sm 0;
}

.subpage .container {
  padding: @margin-md 0;
}